$_primitive-core-colorcoffeshop50: #f5f5f1;
$_primitive-core-colorcoffeshop100: #e6e5db;
$_primitive-core-colorcoffeshop150: #d9d7ca;
$_primitive-core-colorcoffeshop200: #ceccba;
$_primitive-core-colorcoffeshop300: #b2ae92;
$_primitive-core-colorcoffeshop400: #9c9573;
$_primitive-core-colorcoffeshop500: #8d8465;
$_primitive-core-colorcoffeshop600: #796e55;
$_primitive-core-colorcoffeshop700: #635847;
$_primitive-core-colorcoffeshop800: #544a3f;
$_primitive-core-colorcoffeshop900: #4a4139;
$_primitive-core-colorcoffeshop950: #29231f;
$_primitive-core-colorcoffeshop1000: #0c0a09;
$_primitive-core-colornighthawks50: #f2fbf9;
$_primitive-core-colornighthawks100: #d5f2eb;
$_primitive-core-colornighthawks150: #c0ede3;
$_primitive-core-colornighthawks200: #aae5d8;
$_primitive-core-colornighthawks300: #78d0be;
$_primitive-core-colornighthawks400: #4cb5a4;
$_primitive-core-colornighthawks500: #329a8b;
$_primitive-core-colornighthawks600: #267b70;
$_primitive-core-colornighthawks700: #22635b;
$_primitive-core-colornighthawks800: #1e4d48;
$_primitive-core-colornighthawks900: #1e433f;
$_primitive-core-colornighthawks950: #0c2725;
$_primitive-core-colornighthawks1000: #040f0e;
$_primitive-core-colorsurface_obsolete50: #f8fcf7;
$_primitive-core-colorsurface_obsolete100: #f1f5f0;
$_primitive-core-colorsurface_obsolete200: #e9ede8;
$_primitive-core-colorsurface_obsolete300: #e1e5e0;
$_primitive-core-colorsurface_obsolete400: #ced1cd;
$_primitive-core-colorsurface_obsolete500: #c1c4c0;
$_primitive-core-colorsurface_obsolete600: #adb0ac;
$_primitive-core-colorsurface_obsolete700: #9b9e9b;
$_primitive-core-colorsurface_obsolete800: #787a78;
$_primitive-core-colorsurface_obsolete900: #585958;
$_primitive-core-colorboulangerie_obsolete50: #f7e5ba;
$_primitive-core-colorboulangerie_obsolete100: #dbcba5;
$_primitive-core-colorboulangerie_obsolete200: #b8aa8a;
$_primitive-core-colorboulangerie_obsolete300: #8a8068;
$_primitive-core-colorboulangerie_obsolete400: #665f4d;
$_primitive-core-colorboulangerie_obsolete500: #595343;
$_primitive-core-colorboulangerie_obsolete600: #4d473a;
$_primitive-core-colorboulangerie_obsolete700: #163632;
$_primitive-core-colorboulangerie_obsolete800: #423d32;
$_primitive-core-colorboulangerie_obsolete900: #29251e;
$_primitive-core-colorgrey50: #fafafa;
$_primitive-core-colorgrey100: #f5f5f5;
$_primitive-core-colorgrey150: #ededed;
$_primitive-core-colorgrey200: #e5e5e5;
$_primitive-core-colorgrey300: #d4d4d4;
$_primitive-core-colorgrey400: #a3a3a3;
$_primitive-core-colorgrey500: #737373;
$_primitive-core-colorgrey600: #525252;
$_primitive-core-colorgrey700: #404040;
$_primitive-core-colorgrey800: #242424;
$_primitive-core-colorgrey900: #171717;
$_primitive-core-colorgrey950: #0a0a0a;
$_primitive-core-colorgrey1000: #050505;
$_primitive-core-colorinfo-blue_obsolete50: #e6f4ff;
$_primitive-core-colorinfo-blue_obsolete100: #d7edff;
$_primitive-core-colorinfo-blue_obsolete200: #abdbff;
$_primitive-core-colorinfo-blue_obsolete300: #75bfff;
$_primitive-core-colorinfo-blue_obsolete400: #45a3fe;
$_primitive-core-colorinfo-blue_obsolete500: #0074e8;
$_primitive-core-colorinfo-blue_obsolete600: #005fcb;
$_primitive-core-colorinfo-blue_obsolete700: #004ba9;
$_primitive-core-colorinfo-blue_obsolete800: #003c96;
$_primitive-core-colorinfo-blue_obsolete900: #002966;
$_primitive-core-colordonut-maker50: #fef1f6;
$_primitive-core-colordonut-maker100: #fee5ef;
$_primitive-core-colordonut-maker150: #ffd9e6;
$_primitive-core-colordonut-maker200: #ffcbe0;
$_primitive-core-colordonut-maker300: #ffa1c4;
$_primitive-core-colordonut-maker400: #ff79a7;
$_primitive-core-colordonut-maker500: #d04d7b;
$_primitive-core-colordonut-maker600: #b62e5e;
$_primitive-core-colordonut-maker700: #9b214c;
$_primitive-core-colordonut-maker800: #861b41;
$_primitive-core-colordonut-maker900: #731838;
$_primitive-core-colordonut-maker950: #3f0b1e;
$_primitive-core-colordonut-maker1000: #120309;
$_primitive-core-colororange-juice50: #fcf8ea;
$_primitive-core-colororange-juice100: #f9eec8;
$_primitive-core-colororange-juice150: #f7e5ad;
$_primitive-core-colororange-juice200: #f5db93;
$_primitive-core-colororange-juice300: #edba43;
$_primitive-core-colororange-juice400: #e8a627;
$_primitive-core-colororange-juice500: #d88f1a;
$_primitive-core-colororange-juice600: #ba6e14;
$_primitive-core-colororange-juice700: #954e13;
$_primitive-core-colororange-juice800: #7c3e17;
$_primitive-core-colororange-juice900: #6a3419;
$_primitive-core-colororange-juice950: #3d1a0b;
$_primitive-core-colororange-juice1000: #110703;
$_primitive-core-colorsky-dancers50: #f0f8ff;
$_primitive-core-colorsky-dancers100: #dff0ff;
$_primitive-core-colorsky-dancers150: #c6e2f7;
$_primitive-core-colorsky-dancers200: #b8e2ff;
$_primitive-core-colorsky-dancers300: #58c0ff;
$_primitive-core-colorsky-dancers400: #33b4fd;
$_primitive-core-colorsky-dancers500: #099bee;
$_primitive-core-colorsky-dancers600: #007acc;
$_primitive-core-colorsky-dancers700: #0061a5;
$_primitive-core-colorsky-dancers800: #045388;
$_primitive-core-colorsky-dancers900: #0a4570;
$_primitive-core-colorsky-dancers950: #062b4b;
$_primitive-core-colorsky-dancers1000: #020b13;
$_primitive-core-colorteam-blue50: #f0f7fe;
$_primitive-core-colorteam-blue100: #ddedfc;
$_primitive-core-colorteam-blue150: #d4e8fc;
$_primitive-core-colorteam-blue200: #c3e0fa;
$_primitive-core-colorteam-blue300: #99cef7;
$_primitive-core-colorteam-blue400: #69b3f1;
$_primitive-core-colorteam-blue500: #4695eb;
$_primitive-core-colorteam-blue600: #2a74de;
$_primitive-core-colorteam-blue700: #2863cd;
$_primitive-core-colorteam-blue800: #2751a6;
$_primitive-core-colorteam-blue900: #254683;
$_primitive-core-colorteam-blue950: #1b2c50;
$_primitive-core-colorteam-blue1000: #080d17;
$_primitive-core-colorice-pastries50: #fdf3f3;
$_primitive-core-colorice-pastries100: #fde3e3;
$_primitive-core-colorice-pastries150: #fcd7d7;
$_primitive-core-colorice-pastries200: #fccccc;
$_primitive-core-colorice-pastries300: #f8a9aa;
$_primitive-core-colorice-pastries400: #f06465;
$_primitive-core-colorice-pastries500: #e74c4d;
$_primitive-core-colorice-pastries600: #d42e2f;
$_primitive-core-colorice-pastries700: #b22324;
$_primitive-core-colorice-pastries800: #932122;
$_primitive-core-colorice-pastries900: #7b2122;
$_primitive-core-colorice-pastries950: #420d0d;
$_primitive-core-colorice-pastries1000: #150404;
$_primitive-core-colorsoft-clouds50: #f3f7fb;
$_primitive-core-colorsoft-clouds100: #e4ebf5;
$_primitive-core-colorsoft-clouds150: #dae3f0;
$_primitive-core-colorsoft-clouds200: #d0dded;
$_primitive-core-colorsoft-clouds300: #afc7e1;
$_primitive-core-colorsoft-clouds400: #88a9d2;
$_primitive-core-colorsoft-clouds500: #6c8ec5;
$_primitive-core-colorsoft-clouds600: #5976b7;
$_primitive-core-colorsoft-clouds700: #5169ad;
$_primitive-core-colorsoft-clouds800: #445489;
$_primitive-core-colorsoft-clouds900: #3a486e;
$_primitive-core-colorsoft-clouds950: #272e44;
$_primitive-core-colorsoft-clouds1000: #0b0d13;
$_primitive-core-colorgreen-pastures50: #f4f9f8;
$_primitive-core-colorgreen-pastures100: #dcebe7;
$_primitive-core-colorgreen-pastures150: #cae0da;
$_primitive-core-colorgreen-pastures200: #b9d6ce;
$_primitive-core-colorgreen-pastures300: #8ebaaf;
$_primitive-core-colorgreen-pastures400: #609388;
$_primitive-core-colorgreen-pastures500: #4c8075;
$_primitive-core-colorgreen-pastures600: #3b665e;
$_primitive-core-colorgreen-pastures700: #32534d;
$_primitive-core-colorgreen-pastures800: #2b4440;
$_primitive-core-colorgreen-pastures900: #273a37;
$_primitive-core-colorgreen-pastures950: #13201f;
$_primitive-core-colorgreen-pastures1000: #080d0c;
$_primitive-core-colorsweet-mamey50: #fcf5f4;
$_primitive-core-colorsweet-mamey100: #fae8e6;
$_primitive-core-colorsweet-mamey150: #fae2de;
$_primitive-core-colorsweet-mamey200: #f7d6d1;
$_primitive-core-colorsweet-mamey300: #f0b9b1;
$_primitive-core-colorsweet-mamey400: #e68f83;
$_primitive-core-colorsweet-mamey500: #d96e5f;
$_primitive-core-colorsweet-mamey600: #c44e3e;
$_primitive-core-colorsweet-mamey700: #a43f31;
$_primitive-core-colorsweet-mamey800: #88372c;
$_primitive-core-colorsweet-mamey900: #72332a;
$_primitive-core-colorsweet-mamey950: #3d1712;
$_primitive-core-colorsweet-mamey1000: #100604;
$_primitive-core-colorspicy-sauce50: #fdf3f3;
$_primitive-core-colorspicy-sauce100: #fde3e3;
$_primitive-core-colorspicy-sauce150: #fdd9d9;
$_primitive-core-colorspicy-sauce200: #fccccc;
$_primitive-core-colorspicy-sauce300: #f8a9aa;
$_primitive-core-colorspicy-sauce400: #f27778;
$_primitive-core-colorspicy-sauce500: #e74c4d;
$_primitive-core-colorspicy-sauce600: #d32f30;
$_primitive-core-colorspicy-sauce700: #ba2526;
$_primitive-core-colorspicy-sauce800: #932122;
$_primitive-core-colorspicy-sauce900: #7a2223;
$_primitive-core-colorspicy-sauce950: #420d0d;
$_primitive-core-colorspicy-sauce1000: #0f0303;
$_primitive-core-colordark-pepper50: #f8f7f4;
$_primitive-core-colordark-pepper100: #efede5;
$_primitive-core-colordark-pepper150: #e8e5da;
$_primitive-core-colordark-pepper200: #ded8ca;
$_primitive-core-colordark-pepper300: #c9bfa8;
$_primitive-core-colordark-pepper400: #bbab91;
$_primitive-core-colordark-pepper500: #a38b6c;
$_primitive-core-colordark-pepper600: #967b60;
$_primitive-core-colordark-pepper700: #7d6551;
$_primitive-core-colordark-pepper800: #675445;
$_primitive-core-colordark-pepper900: #54453a;
$_primitive-core-colordark-pepper950: #2c231e;
$_primitive-core-colordark-pepper1000: #0c0908;
$_primitive-core-colorbright-carrot50: #fef5ee;
$_primitive-core-colorbright-carrot100: #fde9d7;
$_primitive-core-colorbright-carrot150: #fcddc2;
$_primitive-core-colorbright-carrot200: #fbcfad;
$_primitive-core-colorbright-carrot300: #f8ad79;
$_primitive-core-colorbright-carrot400: #f48043;
$_primitive-core-colorbright-carrot500: #f16122;
$_primitive-core-colorbright-carrot600: #e24514;
$_primitive-core-colorbright-carrot700: #bb3213;
$_primitive-core-colorbright-carrot800: #952917;
$_primitive-core-colorbright-carrot900: #782516;
$_primitive-core-colorbright-carrot950: #410f09;
$_primitive-core-colorbright-carrot1000: #150503;
$_primitive-core-colordark-matter50: #f5f5f6;
$_primitive-core-colordark-matter100: #e6e6e7;
$_primitive-core-colordark-matter150: #dedede;
$_primitive-core-colordark-matter200: #d0d0d1;
$_primitive-core-colordark-matter300: #afb0b1;
$_primitive-core-colordark-matter400: #878889;
$_primitive-core-colordark-matter500: #6d6e70;
$_primitive-core-colordark-matter600: #5c5d5e;
$_primitive-core-colordark-matter700: #4e4f50;
$_primitive-core-colordark-matter800: #444446;
$_primitive-core-colordark-matter900: #3c3c3d;
$_primitive-core-colordark-matter950: #171717;
$_primitive-core-colordark-matter1000: #000000;
$_primitive-core-colorred50: #fef2f2;
$_primitive-core-colorred100: #fee2e2;
$_primitive-core-colorred150: #fed3d3;
$_primitive-core-colorred200: #fecaca;
$_primitive-core-colorred300: #fca5a5;
$_primitive-core-colorred400: #f87171;
$_primitive-core-colorred500: #ef4444;
$_primitive-core-colorred600: #dc2626;
$_primitive-core-colorred700: #b91c1c;
$_primitive-core-colorred800: #991b1b;
$_primitive-core-colorred900: #7f1d1d;
$_primitive-core-colorred950: #450a0a;
$_primitive-core-colorred1000: #110202;
$_primitive-core-coloryellow50: #fffbeb;
$_primitive-core-coloryellow100: #fdf1c8;
$_primitive-core-coloryellow150: #fce9ac;
$_primitive-core-coloryellow200: #fae28d;
$_primitive-core-coloryellow300: #f8ce51;
$_primitive-core-coloryellow400: #f7bf3b;
$_primitive-core-coloryellow500: #f09910;
$_primitive-core-coloryellow600: #d4730b;
$_primitive-core-coloryellow700: #b0510d;
$_primitive-core-coloryellow800: #8f3f11;
$_primitive-core-coloryellow900: #763411;
$_primitive-core-coloryellow950: #441904;
$_primitive-core-coloryellow1000: #130701;
$_primitive-core-colorgreen50: #f3fcf6;
$_primitive-core-colorgreen100: #e1f9ea;
$_primitive-core-colorgreen150: #d1f5de;
$_primitive-core-colorgreen200: #c1f1d2;
$_primitive-core-colorgreen300: #90e4af;
$_primitive-core-colorgreen400: #5bcd85;
$_primitive-core-colorgreen500: #34b262;
$_primitive-core-colorgreen600: #25934d;
$_primitive-core-colorgreen700: #21733f;
$_primitive-core-colorgreen800: #205b36;
$_primitive-core-colorgreen900: #1c4a2e;
$_primitive-core-colorgreen950: #092a17;
$_primitive-core-colorgreen1000: #031209;
$_primitive-core-colorblackalpha-4: rgba(0, 0, 0, 0.04);
$_primitive-core-colorblackalpha-8: rgba(0, 0, 0, 0.08);
$_primitive-core-colorblackalpha-12: rgba(0, 0, 0, 0.12);
$_primitive-core-colorblackalpha-20: rgba(0, 0, 0, 0.2);
$_primitive-core-colorblackalpha-32: rgba(0, 0, 0, 0.32);
$_primitive-core-colorblackalpha-40: rgba(0, 0, 0, 0.4);
$_primitive-core-colorblackalpha-100: #000000;
$_primitive-core-colorwhitealpha-8: rgba(255, 255, 255, 0.08);
$_primitive-core-colorwhitealpha-12: rgba(255, 255, 255, 0.12);
$_primitive-core-colorwhitealpha-20: rgba(255, 255, 255, 0.2);
$_primitive-core-colorwhitealpha-32: rgba(255, 255, 255, 0.32);
$_primitive-core-colorwhitealpha-40: rgba(255, 255, 255, 0.4);
$_primitive-core-colorwhitealpha-60: rgba(255, 255, 255, 0.6);
$_primitive-core-colorwhitealpha-88: rgba(255, 255, 255, 0.88);
$_primitive-core-colorwhitealpha-92: rgba(255, 255, 255, 0.92);
$_primitive-core-colorwhitealpha-100: #ffffff;
$theme-sweet-coffee-colorbackgroundbase: $colorcoffeshop100--core;
$theme-sweet-coffee-colorbackgroundelevated: $colorcoffeshop50--core;
$theme-sweet-coffee-colorbackgroundhighlight: $colorwhitealpha-100--core;
$theme-sweet-coffee-on-brand-weak: $colorcoffeshop200--core;
$theme-sweet-coffee-colorbackgroundaccentbase: $colornighthawks800--core;
$theme-sweet-coffee-colorbackgroundaccentpressed: $colornighthawks900--core;
$theme-sweet-coffee-colorbackgroundaccentactive: $colornighthawks950--core;
$theme-sweet-coffee-colorbackgroundaccentalternative: $colorcoffeshop700--core;
$theme-sweet-coffee-colorforegroundaccentbase: $colornighthawks950--core;
$theme-sweet-coffee-colorbackgrounddisabledbase: $colorblackalpha-20--core;
$theme-sweet-coffee-colorforegroundaccentpressed: $colornighthawks400--core;
$theme-sweet-coffee-colorbackgrounddisabledon-accent: $colorwhitealpha-20--core;
$theme-sweet-coffee-colorforegroundaccentactive: $colornighthawks800--core;
$theme-sweet-coffee-colorforegroundaccentalternative: $colorcoffeshop950--core;
$theme-sweet-coffee-colorbackgroundorder-quantitybase: $colorcoffeshop700--core;
$theme-sweet-coffee-colorbackgroundorder-quantitypressed: $colorcoffeshop800--core;
$theme-sweet-coffee-colorbackgroundorder-quantityactive: $colorcoffeshop900--core;
$theme-sweet-coffee-colorbackgroundraisedpressed: $colorgrey100--core;
$theme-sweet-coffee-colorbackgroundraisedactive: $colorgrey200--core;
$theme-sweet-coffee-colorbackgroundorder-quantityweak: $colorcoffeshop100--core;
$theme-sweet-coffee-colorforegrounddefault: $colorgrey900--core;
$theme-sweet-coffee-colorbackgroundsurfaceon-accentbase: $colorwhitealpha-8--core;
$theme-sweet-coffee-colorbackgroundsurfaceon-accentpressed: $colorwhitealpha-12--core;
$theme-sweet-coffee-colorbackgroundsurfaceon-accentactive: $colorwhitealpha-88--core;
$theme-sweet-coffee-colorforegroundsurfaceon-accent: $colorgrey150--core;
$theme-sweet-coffee-colorforegroundsurfaceon-dark: $colorwhitealpha-88--core;
$theme-sweet-coffee-colorforegroundsurfaceon-highlight: $colorcoffeshop950--core;
$theme-sweet-coffee-colorforegroundsurfaceorder-quantitybase: $colorgrey150--core;
$theme-sweet-coffee-colorforegroundsurfaceorder-quantityweak: $colornighthawks950--core;
$theme-sweet-coffee-colorforegroundbody: $colornighthawks700--core;
$theme-sweet-coffee-colorforegrounddangerdefault: $colorred500--core;
$theme-sweet-coffee-colorforegroundpositivedefault: $colorgreen500--core;
$theme-sweet-coffee-colorforegroundwarningdefault: $coloryellow500--core;
$theme-sweet-coffee-colorforegrounddisableddefault: $colorcoffeshop600--core;
$theme-sweet-coffee-colorborderdefault: $colorcoffeshop200--core;
$theme-sweet-coffee-colorborderweak: $colorcoffeshop100--core;
$theme-sweet-coffee-colorborderon-dark: $colorwhitealpha-40--core;
$theme-sweet-coffee-colorborderdangerdefault: $colorred500--core;
$theme-sweet-coffee-colorborderpositivedefault: $colorgreen500--core;
$theme-sweet-coffee-colorborderdisableddefault: $colorblackalpha-12--core;
$theme-sweet-coffee-colorborderdisabledon-accent: $colorwhitealpha-20--core;
$theme-sweet-coffee-colorbackgrounddangerbase: $colorred900--core;
$theme-sweet-coffee-colorbackgroundwarningbase: $coloryellow500--core;
$theme-sweet-coffee-colorbackgroundwarningweak: $coloryellow50--core;
$theme-sweet-coffee-colorbackgroundpositivebase: $colorgreen500--core;
$theme-sweet-coffee-colorbackgroundpositiveweak: $colorgreen50--core;
$theme-sweet-coffee-colorbackgrounddangerweak: $colorred50--core;
$theme-sweet-coffee-colorbackgroundprogressioninitial: $colorgrey500--core;
$theme-sweet-coffee-colorbackgroundprogressionincreased: $colorbackgroundpositivebase--sweet-coffee;
$theme-sweet-coffee-colorbackgroundprogressioncritical: $colorbackgroundwarningbase--sweet-coffee;
$theme-sweet-coffee-colorbackgroundprogressionmax: $colorbackgrounddangerbase--sweet-coffee;
$theme-sweet-coffee-colorbackgroundsubtlepressed: $colorblackalpha-4--core;
$theme-sweet-coffee-colorbackgroundsubtleactive: $colorblackalpha-8--core;
$theme-sweet-coffee-colorbackgroundinfobase: $colorinfo-blue_obsolete500--core;
$theme-sweet-coffee-colorbackgroundinfoweak: $colorinfo-blue_obsolete50--core;
$theme-sweet-coffee-colorborderaccentdefault: $colornighthawks500--core;
$theme-sweet-coffee-colorborderaccentalternative: $colorcoffeshop700--core;
$theme-papi-churro-colorbackgroundbase: $colordonut-maker150--core;
$theme-papi-churro-colorbackgroundelevated: $colordonut-maker50--core;
$theme-papi-churro-colorbackgroundhighlight: $colorwhitealpha-100--core;
$theme-papi-churro-on-brand-weak: $colordonut-maker300--core;
$theme-papi-churro-colorbackgroundaccentbase: $colordonut-maker800--core;
$theme-papi-churro-colorbackgroundaccentpressed: $colordonut-maker900--core;
$theme-papi-churro-colorbackgroundaccentactive: $colordonut-maker950--core;
$theme-papi-churro-colorbackgroundaccentalternative: $colordonut-maker700--core;
$theme-papi-churro-colorforegroundaccentbase: $colordonut-maker950--core;
$theme-papi-churro-colorbackgrounddisabledbase: $colorblackalpha-20--core;
$theme-papi-churro-colorforegroundaccentpressed: $colordonut-maker700--core;
$theme-papi-churro-colorbackgrounddisabledon-accent: $colorwhitealpha-20--core;
$theme-papi-churro-colorforegroundaccentactive: $colordonut-maker800--core;
$theme-papi-churro-colorforegroundaccentalternative: $colordonut-maker700--core;
$theme-papi-churro-colorbackgroundorder-quantitybase: $colorsky-dancers700--core;
$theme-papi-churro-colorbackgroundorder-quantitypressed: $colorsky-dancers800--core;
$theme-papi-churro-colorbackgroundorder-quantityactive: $colorsky-dancers900--core;
$theme-papi-churro-colorbackgroundraisedpressed: $colorgrey100--core;
$theme-papi-churro-colorbackgroundraisedactive: $colorgrey200--core;
$theme-papi-churro-colorbackgroundorder-quantityweak: $colorsky-dancers100--core;
$theme-papi-churro-colorforegrounddefault: $colorgrey900--core;
$theme-papi-churro-colorbackgroundsurfaceon-accentbase: $colorwhitealpha-8--core;
$theme-papi-churro-colorbackgroundsurfaceon-accentpressed: $colorwhitealpha-12--core;
$theme-papi-churro-colorbackgroundsurfaceon-accentactive: $colorwhitealpha-88--core;
$theme-papi-churro-colorforegroundsurfaceon-accent: $colorgrey150--core;
$theme-papi-churro-colorforegroundsurfaceon-dark: $colorwhitealpha-88--core;
$theme-papi-churro-colorforegroundsurfaceon-highlight: $colorsky-dancers500--core;
$theme-papi-churro-colorforegroundsurfaceorder-quantitybase: $colorgrey150--core;
$theme-papi-churro-colorforegroundsurfaceorder-quantityweak: $colororange-juice950--core;
$theme-papi-churro-colorforegroundbody: $colorgrey700--core;
$theme-papi-churro-colorforegrounddangerdefault: $colorred500--core;
$theme-papi-churro-colorforegroundpositivedefault: $colorgreen500--core;
$theme-papi-churro-colorforegroundwarningdefault: $coloryellow500--core;
$theme-papi-churro-colorforegrounddisableddefault: $colordonut-maker500--core;
$theme-papi-churro-colorborderdefault: $colordonut-maker300--core;
$theme-papi-churro-colorborderweak: $colordonut-maker200--core;
$theme-papi-churro-colorborderon-dark: $colorwhitealpha-40--core;
$theme-papi-churro-colorborderdangerdefault: $colorred500--core;
$theme-papi-churro-colorborderpositivedefault: $colorgreen500--core;
$theme-papi-churro-colorborderdisableddefault: $colorblackalpha-12--core;
$theme-papi-churro-colorborderdisabledon-accent: $colorwhitealpha-20--core;
$theme-papi-churro-colorbackgrounddangerbase: $colorred900--core;
$theme-papi-churro-colorbackgroundwarningbase: $coloryellow500--core;
$theme-papi-churro-colorbackgroundwarningweak: $coloryellow50--core;
$theme-papi-churro-colorbackgroundpositivebase: $colorgreen500--core;
$theme-papi-churro-colorbackgroundpositiveweak: $colorgreen50--core;
$theme-papi-churro-colorbackgrounddangerweak: $colorred50--core;
$theme-papi-churro-colorbackgroundprogressioninitial: $colorgrey500--core;
$theme-papi-churro-colorbackgroundprogressionincreased: $colorbackgroundpositivebase--sweet-coffee;
$theme-papi-churro-colorbackgroundprogressioncritical: $colorbackgroundwarningbase--sweet-coffee;
$theme-papi-churro-colorbackgroundprogressionmax: $colorbackgrounddangerbase--sweet-coffee;
$theme-papi-churro-colorbackgroundsubtlepressed: $colorblackalpha-4--core;
$theme-papi-churro-colorbackgroundsubtleactive: $colorblackalpha-8--core;
$theme-papi-churro-colorbackgroundinfobase: $colorinfo-blue_obsolete500--core;
$theme-papi-churro-colorbackgroundinfoweak: $colorinfo-blue_obsolete50--core;
$theme-papi-churro-colorborderaccentdefault: $colordonut-maker400--core;
$theme-papi-churro-colorborderaccentalternative: $colorsky-dancers300--core;
$theme-sanducheria-colorbackgroundbase: $colorteam-blue150--core;
$theme-sanducheria-colorbackgroundelevated: $colorteam-blue50--core;
$theme-sanducheria-colorbackgroundhighlight: $colorwhitealpha-100--core;
$theme-sanducheria-on-brand-weak: $colorteam-blue300--core;
$theme-sanducheria-colorbackgroundaccentbase: $colorteam-blue800--core;
$theme-sanducheria-colorbackgroundaccentpressed: $colorteam-blue900--core;
$theme-sanducheria-colorbackgroundaccentactive: $colorteam-blue900--core;
$theme-sanducheria-colorbackgroundaccentalternative: $colorteam-blue600--core;
$theme-sanducheria-colorforegroundaccentbase: $colorteam-blue950--core;
$theme-sanducheria-colorbackgrounddisabledbase: $colorblackalpha-20--core;
$theme-sanducheria-colorforegroundaccentpressed: $colorteam-blue600--core;
$theme-sanducheria-colorbackgrounddisabledon-accent: $colorwhitealpha-20--core;
$theme-sanducheria-colorforegroundaccentactive: $colorteam-blue800--core;
$theme-sanducheria-colorforegroundaccentalternative: $colorteam-blue600--core;
$theme-sanducheria-colorbackgroundorder-quantitybase: $colorteam-blue700--core;
$theme-sanducheria-colorbackgroundorder-quantitypressed: $colorteam-blue800--core;
$theme-sanducheria-colorbackgroundorder-quantityactive: $colorteam-blue900--core;
$theme-sanducheria-colorbackgroundraisedpressed: $colorgrey100--core;
$theme-sanducheria-colorbackgroundraisedactive: $colorgrey200--core;
$theme-sanducheria-colorbackgroundorder-quantityweak: $colorteam-blue100--core;
$theme-sanducheria-colorforegrounddefault: $colorteam-blue950--core;
$theme-sanducheria-colorbackgroundsurfaceon-accentbase: $colorwhitealpha-8--core;
$theme-sanducheria-colorbackgroundsurfaceon-accentpressed: $colorwhitealpha-12--core;
$theme-sanducheria-colorbackgroundsurfaceon-accentactive: $colorwhitealpha-88--core;
$theme-sanducheria-colorforegroundsurfaceon-accent: $colorgrey150--core;
$theme-sanducheria-colorforegroundsurfaceon-dark: $colorwhitealpha-88--core;
$theme-sanducheria-colorforegroundsurfaceon-highlight: $colorteam-blue600--core;
$theme-sanducheria-colorforegroundsurfaceorder-quantitybase: $colorgrey150--core;
$theme-sanducheria-colorforegroundsurfaceorder-quantityweak: $colorteam-blue800--core;
$theme-sanducheria-colorforegroundbody: $colorteam-blue800--core;
$theme-sanducheria-colorforegrounddangerdefault: $colorred500--core;
$theme-sanducheria-colorforegroundpositivedefault: $colorgreen500--core;
$theme-sanducheria-colorforegroundwarningdefault: $coloryellow500--core;
$theme-sanducheria-colorforegrounddisableddefault: $colorteam-blue600--core;
$theme-sanducheria-colorborderdefault: $colorteam-blue300--core;
$theme-sanducheria-colorborderweak: $colorteam-blue200--core;
$theme-sanducheria-colorborderon-dark: $colorwhitealpha-40--core;
$theme-sanducheria-colorborderdangerdefault: $colorred500--core;
$theme-sanducheria-colorborderpositivedefault: $colorgreen500--core;
$theme-sanducheria-colorborderdisableddefault: $colorblackalpha-12--core;
$theme-sanducheria-colorborderdisabledon-accent: $colorwhitealpha-20--core;
$theme-sanducheria-colorbackgrounddangerbase: $colorred900--core;
$theme-sanducheria-colorbackgroundwarningbase: $coloryellow500--core;
$theme-sanducheria-colorbackgroundwarningweak: $coloryellow50--core;
$theme-sanducheria-colorbackgroundpositivebase: $colorgreen500--core;
$theme-sanducheria-colorbackgroundpositiveweak: $colorgreen50--core;
$theme-sanducheria-colorbackgrounddangerweak: $colorred50--core;
$theme-sanducheria-colorbackgroundprogressioninitial: $colorgrey500--core;
$theme-sanducheria-colorbackgroundprogressionincreased: $colorbackgroundpositivebase--sweet-coffee;
$theme-sanducheria-colorbackgroundprogressioncritical: $colorbackgroundwarningbase--sweet-coffee;
$theme-sanducheria-colorbackgroundprogressionmax: $colorbackgrounddangerbase--sweet-coffee;
$theme-sanducheria-colorbackgroundsubtlepressed: $colorblackalpha-4--core;
$theme-sanducheria-colorbackgroundsubtleactive: $colorblackalpha-8--core;
$theme-sanducheria-colorbackgroundinfobase: $colorinfo-blue_obsolete500--core;
$theme-sanducheria-colorbackgroundinfoweak: $colorinfo-blue_obsolete50--core;
$theme-sanducheria-colorborderaccentdefault: $colorteam-blue600--core;
$theme-sanducheria-colorborderaccentalternative: $colorteam-blue900--core;
$theme-ice-n-clouds-colorbackgroundbase: $colorsoft-clouds150--core;
$theme-ice-n-clouds-colorbackgroundelevated: $colorsoft-clouds50--core;
$theme-ice-n-clouds-colorbackgroundhighlight: $colorwhitealpha-100--core;
$theme-ice-n-clouds-on-brand-weak: $colorsoft-clouds300--core;
$theme-ice-n-clouds-colorbackgroundaccentbase: $colorsoft-clouds800--core;
$theme-ice-n-clouds-colorbackgroundaccentpressed: $colorsoft-clouds900--core;
$theme-ice-n-clouds-colorbackgroundaccentactive: $colorsoft-clouds950--core;
$theme-ice-n-clouds-colorbackgroundaccentalternative: $colorice-pastries700--core;
$theme-ice-n-clouds-colorforegroundaccentbase: $colorsoft-clouds950--core;
$theme-ice-n-clouds-colorbackgrounddisabledbase: $colorblackalpha-20--core;
$theme-ice-n-clouds-colorforegroundaccentpressed: $colorsoft-clouds700--core;
$theme-ice-n-clouds-colorbackgrounddisabledon-accent: $colorwhitealpha-20--core;
$theme-ice-n-clouds-colorforegroundaccentactive: $colorsoft-clouds800--core;
$theme-ice-n-clouds-colorforegroundaccentalternative: $colorice-pastries400--core;
$theme-ice-n-clouds-colorbackgroundorder-quantitybase: $colorsoft-clouds700--core;
$theme-ice-n-clouds-colorbackgroundorder-quantitypressed: $colorsoft-clouds800--core;
$theme-ice-n-clouds-colorbackgroundorder-quantityactive: $colorsoft-clouds900--core;
$theme-ice-n-clouds-colorbackgroundraisedpressed: $colorgrey100--core;
$theme-ice-n-clouds-colorbackgroundraisedactive: $colorgrey200--core;
$theme-ice-n-clouds-colorbackgroundorder-quantityweak: $colorsoft-clouds100--core;
$theme-ice-n-clouds-colorforegrounddefault: $colorgrey900--core;
$theme-ice-n-clouds-colorbackgroundsurfaceon-accentbase: $colorwhitealpha-8--core;
$theme-ice-n-clouds-colorbackgroundsurfaceon-accentpressed: $colorwhitealpha-12--core;
$theme-ice-n-clouds-colorbackgroundsurfaceon-accentactive: $colorwhitealpha-88--core;
$theme-ice-n-clouds-colorforegroundsurfaceon-accent: $colorgrey150--core;
$theme-ice-n-clouds-colorforegroundsurfaceon-dark: $colorwhitealpha-88--core;
$theme-ice-n-clouds-colorforegroundsurfaceon-highlight: $colorsoft-clouds700--core;
$theme-ice-n-clouds-colorforegroundsurfaceorder-quantitybase: $colorgrey150--core;
$theme-ice-n-clouds-colorforegroundsurfaceorder-quantityweak: $colorice-pastries800--core;
$theme-ice-n-clouds-colorforegroundbody: $colorsoft-clouds800--core;
$theme-ice-n-clouds-colorforegrounddangerdefault: $colorred500--core;
$theme-ice-n-clouds-colorforegroundpositivedefault: $colorgreen500--core;
$theme-ice-n-clouds-colorforegroundwarningdefault: $coloryellow500--core;
$theme-ice-n-clouds-colorforegrounddisableddefault: $colorsoft-clouds600--core;
$theme-ice-n-clouds-colorborderdefault: $colorsoft-clouds300--core;
$theme-ice-n-clouds-colorborderweak: $colorsoft-clouds200--core;
$theme-ice-n-clouds-colorborderon-dark: $colorwhitealpha-40--core;
$theme-ice-n-clouds-colorborderdangerdefault: $colorred500--core;
$theme-ice-n-clouds-colorborderpositivedefault: $colorgreen500--core;
$theme-ice-n-clouds-colorborderdisableddefault: $colorblackalpha-12--core;
$theme-ice-n-clouds-colorborderdisabledon-accent: $colorwhitealpha-20--core;
$theme-ice-n-clouds-colorbackgrounddangerbase: $colorred900--core;
$theme-ice-n-clouds-colorbackgroundwarningbase: $coloryellow500--core;
$theme-ice-n-clouds-colorbackgroundwarningweak: $coloryellow50--core;
$theme-ice-n-clouds-colorbackgroundpositivebase: $colorgreen500--core;
$theme-ice-n-clouds-colorbackgroundpositiveweak: $colorgreen50--core;
$theme-ice-n-clouds-colorbackgrounddangerweak: $colorred50--core;
$theme-ice-n-clouds-colorbackgroundprogressioninitial: $colorgrey500--core;
$theme-ice-n-clouds-colorbackgroundprogressionincreased: $colorbackgroundpositivebase--sweet-coffee;
$theme-ice-n-clouds-colorbackgroundprogressioncritical: $colorbackgroundwarningbase--sweet-coffee;
$theme-ice-n-clouds-colorbackgroundprogressionmax: $colorbackgrounddangerbase--sweet-coffee;
$theme-ice-n-clouds-colorbackgroundsubtlepressed: $colorblackalpha-4--core;
$theme-ice-n-clouds-colorbackgroundsubtleactive: $colorblackalpha-8--core;
$theme-ice-n-clouds-colorbackgroundinfobase: $colorinfo-blue_obsolete500--core;
$theme-ice-n-clouds-colorbackgroundinfoweak: $colorinfo-blue_obsolete50--core;
$theme-ice-n-clouds-colorborderaccentdefault: $colorsoft-clouds700--core;
$theme-ice-n-clouds-colorborderaccentalternative: $colorice-pastries400--core;
$theme-mama-shawarma-colorbackgroundbase: $colorsweet-mamey150--core;
$theme-mama-shawarma-colorbackgroundelevated: $colorsweet-mamey50--core;
$theme-mama-shawarma-colorbackgroundhighlight: $colorwhitealpha-100--core;
$theme-mama-shawarma-on-brand-weak: $colorgreen-pastures300--core;
$theme-mama-shawarma-colorbackgroundaccentbase: $colorgreen-pastures800--core;
$theme-mama-shawarma-colorbackgroundaccentpressed: $colorgreen-pastures900--core;
$theme-mama-shawarma-colorbackgroundaccentactive: $colorgreen-pastures950--core;
$theme-mama-shawarma-colorbackgroundaccentalternative: $colorgreen-pastures500--core;
$theme-mama-shawarma-colorforegroundaccentbase: $colorsweet-mamey950--core;
$theme-mama-shawarma-colorbackgrounddisabledbase: $colorblackalpha-20--core;
$theme-mama-shawarma-colorforegroundaccentpressed: $colorgreen-pastures700--core;
$theme-mama-shawarma-colorbackgrounddisabledon-accent: $colorwhitealpha-20--core;
$theme-mama-shawarma-colorforegroundaccentactive: $colorgreen-pastures800--core;
$theme-mama-shawarma-colorforegroundaccentalternative: $colorsweet-mamey600--core;
$theme-mama-shawarma-colorbackgroundorder-quantitybase: $colorsweet-mamey700--core;
$theme-mama-shawarma-colorbackgroundorder-quantitypressed: $colorsweet-mamey800--core;
$theme-mama-shawarma-colorbackgroundorder-quantityactive: $colorsweet-mamey900--core;
$theme-mama-shawarma-colorbackgroundraisedpressed: $colorgrey100--core;
$theme-mama-shawarma-colorbackgroundraisedactive: $colorgrey200--core;
$theme-mama-shawarma-colorbackgroundorder-quantityweak: $colorsweet-mamey100--core;
$theme-mama-shawarma-colorforegrounddefault: $colorgreen-pastures900--core;
$theme-mama-shawarma-colorbackgroundsurfaceon-accentbase: $colorwhitealpha-8--core;
$theme-mama-shawarma-colorbackgroundsurfaceon-accentpressed: $colorwhitealpha-12--core;
$theme-mama-shawarma-colorbackgroundsurfaceon-accentactive: $colorwhitealpha-88--core;
$theme-mama-shawarma-colorforegroundsurfaceon-accent: $colorgrey150--core;
$theme-mama-shawarma-colorforegroundsurfaceon-dark: $colorwhitealpha-88--core;
$theme-mama-shawarma-colorforegroundsurfaceon-highlight: $colorsweet-mamey500--core;
$theme-mama-shawarma-colorforegroundsurfaceorder-quantitybase: $colorgrey150--core;
$theme-mama-shawarma-colorforegroundsurfaceorder-quantityweak: $colorgreen-pastures800--core;
$theme-mama-shawarma-colorforegroundbody: $colorgrey700--core;
$theme-mama-shawarma-colorforegrounddangerdefault: $colorred500--core;
$theme-mama-shawarma-colorforegroundpositivedefault: $colorgreen500--core;
$theme-mama-shawarma-colorforegroundwarningdefault: $coloryellow500--core;
$theme-mama-shawarma-colorforegrounddisableddefault: $colorgreen-pastures500--core;
$theme-mama-shawarma-colorborderdefault: $colorsweet-mamey300--core;
$theme-mama-shawarma-colorborderweak: $colorsweet-mamey200--core;
$theme-mama-shawarma-colorborderon-dark: $colorwhitealpha-40--core;
$theme-mama-shawarma-colorborderdangerdefault: $colorred500--core;
$theme-mama-shawarma-colorborderpositivedefault: $colorgreen500--core;
$theme-mama-shawarma-colorborderdisableddefault: $colorblackalpha-12--core;
$theme-mama-shawarma-colorborderdisabledon-accent: $colorwhitealpha-20--core;
$theme-mama-shawarma-colorbackgrounddangerbase: $colorred900--core;
$theme-mama-shawarma-colorbackgroundwarningbase: $coloryellow500--core;
$theme-mama-shawarma-colorbackgroundwarningweak: $coloryellow50--core;
$theme-mama-shawarma-colorbackgroundpositivebase: $colorgreen500--core;
$theme-mama-shawarma-colorbackgroundpositiveweak: $colorgreen50--core;
$theme-mama-shawarma-colorbackgrounddangerweak: $colorred50--core;
$theme-mama-shawarma-colorbackgroundprogressioninitial: $colorgrey500--core;
$theme-mama-shawarma-colorbackgroundprogressionincreased: $colorbackgroundpositivebase--sweet-coffee;
$theme-mama-shawarma-colorbackgroundprogressioncritical: $colorbackgroundwarningbase--sweet-coffee;
$theme-mama-shawarma-colorbackgroundprogressionmax: $colorbackgrounddangerbase--sweet-coffee;
$theme-mama-shawarma-colorbackgroundsubtlepressed: $colorblackalpha-4--core;
$theme-mama-shawarma-colorbackgroundsubtleactive: $colorblackalpha-8--core;
$theme-mama-shawarma-colorbackgroundinfobase: $colorinfo-blue_obsolete500--core;
$theme-mama-shawarma-colorbackgroundinfoweak: $colorinfo-blue_obsolete50--core;
$theme-mama-shawarma-colorborderaccentdefault: $colorsweet-mamey500--core;
$theme-mama-shawarma-colorborderaccentalternative: $colorgreen-pastures400--core;
$theme-duke-of-buns-colorbackgroundbase: $colordark-pepper150--core;
$theme-duke-of-buns-colorbackgroundelevated: $colordark-pepper50--core;
$theme-duke-of-buns-colorbackgroundhighlight: $colorwhitealpha-100--core;
$theme-duke-of-buns-on-brand-weak: $colordark-pepper300--core;
$theme-duke-of-buns-colorbackgroundaccentbase: $colorspicy-sauce900--core;
$theme-duke-of-buns-colorbackgroundaccentpressed: $colorspicy-sauce950--core;
$theme-duke-of-buns-colorbackgroundaccentactive: $colorspicy-sauce950--core;
$theme-duke-of-buns-colorbackgroundaccentalternative: $colorspicy-sauce700--core;
$theme-duke-of-buns-colorforegroundaccentbase: $colorspicy-sauce950--core;
$theme-duke-of-buns-colorbackgrounddisabledbase: $colorblackalpha-20--core;
$theme-duke-of-buns-colorforegroundaccentpressed: $colorspicy-sauce600--core;
$theme-duke-of-buns-colorbackgrounddisabledon-accent: $colorwhitealpha-20--core;
$theme-duke-of-buns-colorforegroundaccentactive: $colorspicy-sauce800--core;
$theme-duke-of-buns-colorforegroundaccentalternative: $colordark-pepper950--core;
$theme-duke-of-buns-colorbackgroundorder-quantitybase: $colordark-pepper950--core;
$theme-duke-of-buns-colorbackgroundorder-quantitypressed: $colordark-pepper900--core;
$theme-duke-of-buns-colorbackgroundorder-quantityactive: $colordark-pepper800--core;
$theme-duke-of-buns-colorbackgroundraisedpressed: $colorgrey100--core;
$theme-duke-of-buns-colorbackgroundraisedactive: $colorgrey200--core;
$theme-duke-of-buns-colorbackgroundorder-quantityweak: $colordark-pepper100--core;
$theme-duke-of-buns-colorforegrounddefault: $colorgrey900--core;
$theme-duke-of-buns-colorbackgroundsurfaceon-accentbase: $colorwhitealpha-8--core;
$theme-duke-of-buns-colorbackgroundsurfaceon-accentpressed: $colorwhitealpha-12--core;
$theme-duke-of-buns-colorbackgroundsurfaceon-accentactive: $colorwhitealpha-88--core;
$theme-duke-of-buns-colorforegroundsurfaceon-accent: $colorgrey150--core;
$theme-duke-of-buns-colorforegroundsurfaceon-dark: $colorwhitealpha-88--core;
$theme-duke-of-buns-colorforegroundsurfaceon-highlight: $colordark-pepper950--core;
$theme-duke-of-buns-colorforegroundsurfaceorder-quantitybase: $colorgrey150--core;
$theme-duke-of-buns-colorforegroundsurfaceorder-quantityweak: $colorspicy-sauce900--core;
$theme-duke-of-buns-colorforegroundbody: $colorgrey700--core;
$theme-duke-of-buns-colorforegrounddangerdefault: $colorred500--core;
$theme-duke-of-buns-colorforegroundpositivedefault: $colorgreen500--core;
$theme-duke-of-buns-colorforegroundwarningdefault: $coloryellow500--core;
$theme-duke-of-buns-colorforegrounddisableddefault: $colordark-pepper600--core;
$theme-duke-of-buns-colorborderdefault: $colorspicy-sauce300--core;
$theme-duke-of-buns-colorborderweak: $colorspicy-sauce200--core;
$theme-duke-of-buns-colorborderon-dark: $colorwhitealpha-40--core;
$theme-duke-of-buns-colorborderdangerdefault: $colorred500--core;
$theme-duke-of-buns-colorborderpositivedefault: $colorgreen500--core;
$theme-duke-of-buns-colorborderdisableddefault: $colorblackalpha-12--core;
$theme-duke-of-buns-colorborderdisabledon-accent: $colorwhitealpha-20--core;
$theme-duke-of-buns-colorbackgrounddangerbase: $colorred900--core;
$theme-duke-of-buns-colorbackgroundwarningbase: $coloryellow500--core;
$theme-duke-of-buns-colorbackgroundwarningweak: $coloryellow50--core;
$theme-duke-of-buns-colorbackgroundpositivebase: $colorgreen500--core;
$theme-duke-of-buns-colorbackgroundpositiveweak: $colorgreen50--core;
$theme-duke-of-buns-colorbackgrounddangerweak: $colorred50--core;
$theme-duke-of-buns-colorbackgroundprogressioninitial: $colorgrey500--core;
$theme-duke-of-buns-colorbackgroundprogressionincreased: $colorbackgroundpositivebase--sweet-coffee;
$theme-duke-of-buns-colorbackgroundprogressioncritical: $colorbackgroundwarningbase--sweet-coffee;
$theme-duke-of-buns-colorbackgroundprogressionmax: $colorbackgrounddangerbase--sweet-coffee;
$theme-duke-of-buns-colorbackgroundsubtlepressed: $colorblackalpha-4--core;
$theme-duke-of-buns-colorbackgroundsubtleactive: $colorblackalpha-8--core;
$theme-duke-of-buns-colorbackgroundinfobase: $colorinfo-blue_obsolete500--core;
$theme-duke-of-buns-colorbackgroundinfoweak: $colorinfo-blue_obsolete50--core;
$theme-duke-of-buns-colorborderaccentdefault: $colorspicy-sauce700--core;
$theme-duke-of-buns-colorborderaccentalternative: $colordark-pepper700--core;
$theme-robatatata-dark-colorbackgroundbase: $colordark-matter1000--core;
$theme-robatatata-dark-colorbackgroundelevated: $colordark-matter950--core;
$theme-robatatata-dark-colorbackgroundhighlight: $colorgrey700--core;
$theme-robatatata-dark-on-brand-weak: $colordark-matter1000--core;
$theme-robatatata-dark-colorbackgroundaccentbase: $colordark-matter200--core;
$theme-robatatata-dark-colorbackgroundaccentpressed: $colordark-matter150--core;
$theme-robatatata-dark-colorbackgroundaccentactive: $colordark-matter50--core;
$theme-robatatata-dark-colorbackgroundaccentalternative: $colordark-matter300--core;
$theme-robatatata-dark-colorforegroundaccentbase: $colordark-matter50--core;
$theme-robatatata-dark-colorbackgrounddisabledbase: $colorwhitealpha-20--core;
$theme-robatatata-dark-colorforegroundaccentpressed: $colorbright-carrot300--core;
$theme-robatatata-dark-colorbackgrounddisabledon-accent: $colorblackalpha-20--core;
$theme-robatatata-dark-colorforegroundaccentactive: $colorbright-carrot200--core;
$theme-robatatata-dark-colorforegroundaccentalternative: $colordark-matter200--core;
$theme-robatatata-dark-colorbackgroundorder-quantitybase: $colordark-matter50--core;
$theme-robatatata-dark-colorbackgroundorder-quantitypressed: $colordark-matter100--core;
$theme-robatatata-dark-colorbackgroundorder-quantityactive: $colordark-matter200--core;
$theme-robatatata-dark-colorbackgroundraisedpressed: $colordark-matter800--core;
$theme-robatatata-dark-colorbackgroundraisedactive: $colordark-matter700--core;
$theme-robatatata-dark-colorbackgroundorder-quantityweak: $colorbright-carrot150--core;
$theme-robatatata-dark-colorforegrounddefault: $colordark-matter200--core;
$theme-robatatata-dark-colorbackgroundsurfaceon-accentbase: $colorblackalpha-4--core;
$theme-robatatata-dark-colorbackgroundsurfaceon-accentpressed: $colorblackalpha-8--core;
$theme-robatatata-dark-colorbackgroundsurfaceon-accentactive: $colorblackalpha-100--core;
$theme-robatatata-dark-colorforegroundsurfaceon-accent: $colordark-matter1000--core;
$theme-robatatata-dark-colorforegroundsurfaceon-dark: $colorwhitealpha-88--core;
$theme-robatatata-dark-colorforegroundsurfaceon-highlight: $colorbright-carrot500--core;
$theme-robatatata-dark-colorforegroundsurfaceorder-quantitybase: $colorbright-carrot700--core;
$theme-robatatata-dark-colorforegroundsurfaceorder-quantityweak: $colorbright-carrot950--core;
$theme-robatatata-dark-colorforegroundbody: $colordark-matter300--core;
$theme-robatatata-dark-colorforegrounddangerdefault: $colorred150--core;
$theme-robatatata-dark-colorforegroundpositivedefault: $colorgreen500--core;
$theme-robatatata-dark-colorforegroundwarningdefault: $coloryellow200--core;
$theme-robatatata-dark-colorforegrounddisableddefault: $colordark-matter400--core;
$theme-robatatata-dark-colorborderdefault: $colordark-matter600--core;
$theme-robatatata-dark-colorborderweak: $colorwhitealpha-8--core;
$theme-robatatata-dark-colorborderon-dark: $colorwhitealpha-40--core;
$theme-robatatata-dark-colorborderdangerdefault: $colorred500--core;
$theme-robatatata-dark-colorborderpositivedefault: $colorgreen500--core;
$theme-robatatata-dark-colorborderdisableddefault: $colorwhitealpha-20--core;
$theme-robatatata-dark-colorborderdisabledon-accent: $colorblackalpha-12--core;
$theme-robatatata-dark-colorbackgrounddangerbase: $colorred900--core;
$theme-robatatata-dark-colorbackgroundwarningbase: $coloryellow50--core;
$theme-robatatata-dark-colorbackgroundwarningweak: $coloryellow600--core;
$theme-robatatata-dark-colorbackgroundpositivebase: $colorgreen500--core;
$theme-robatatata-dark-colorbackgroundpositiveweak: $colorgreen50--core;
$theme-robatatata-dark-colorbackgrounddangerweak: $colorred900--core;
$theme-robatatata-dark-colorbackgroundprogressioninitial: $colorgrey500--core;
$theme-robatatata-dark-colorbackgroundprogressionincreased: $colorbackgroundpositivebase--sweet-coffee;
$theme-robatatata-dark-colorbackgroundprogressioncritical: $colorbackgroundwarningbase--sweet-coffee;
$theme-robatatata-dark-colorbackgroundprogressionmax: $colorbackgrounddangerbase--sweet-coffee;
$theme-robatatata-dark-colorbackgroundsubtlepressed: $colorwhitealpha-8--core;
$theme-robatatata-dark-colorbackgroundsubtleactive: $colorwhitealpha-12--core;
$theme-robatatata-dark-colorbackgroundinfobase: $colorinfo-blue_obsolete500--core;
$theme-robatatata-dark-colorbackgroundinfoweak: $colorinfo-blue_obsolete50--core;
$theme-robatatata-dark-colorborderaccentdefault: $colorgrey150--core;
$theme-robatatata-dark-colorborderaccentalternative: $colorbright-carrot500--core;
$theme-robatata-light-colorbackgroundbase: $colordark-matter100--core;
$theme-robatata-light-colorbackgroundelevated: $colordark-matter50--core;
$theme-robatata-light-colorbackgroundhighlight: $colorwhitealpha-100--core;
$theme-robatata-light-on-brand-weak: $colorbright-carrot300--core;
$theme-robatata-light-colorbackgroundaccentbase: $colordark-matter950--core;
$theme-robatata-light-colorbackgroundaccentpressed: $colordark-matter1000--core;
$theme-robatata-light-colorbackgroundaccentactive: $colordark-matter1000--core;
$theme-robatata-light-colorbackgroundaccentalternative: $colordark-matter900--core;
$theme-robatata-light-colorforegroundaccentbase: $colordark-matter1000--core;
$theme-robatata-light-colorbackgrounddisabledbase: $colorblackalpha-20--core;
$theme-robatata-light-colorforegroundaccentpressed: $colorbright-carrot800--core;
$theme-robatata-light-colorbackgrounddisabledon-accent: $colorwhitealpha-20--core;
$theme-robatata-light-colorforegroundaccentactive: $colorbright-carrot700--core;
$theme-robatata-light-colorforegroundaccentalternative: $colordark-matter1000--core;
$theme-robatata-light-colorbackgroundorder-quantitybase: $colordark-matter1000--core;
$theme-robatata-light-colorbackgroundorder-quantitypressed: $colordark-matter950--core;
$theme-robatata-light-colorbackgroundorder-quantityactive: $colordark-matter900--core;
$theme-robatata-light-colorbackgroundraisedpressed: $colorgrey100--core;
$theme-robatata-light-colorbackgroundraisedactive: $colorgrey200--core;
$theme-robatata-light-colorbackgroundorder-quantityweak: $colorbright-carrot500--core;
$theme-robatata-light-colorforegrounddefault: $colordark-matter1000--core;
$theme-robatata-light-colorbackgroundsurfaceon-accentbase: $colorwhitealpha-8--core;
$theme-robatata-light-colorbackgroundsurfaceon-accentpressed: $colorwhitealpha-12--core;
$theme-robatata-light-colorbackgroundsurfaceon-accentactive: $colorwhitealpha-88--core;
$theme-robatata-light-colorforegroundsurfaceon-accent: $colorgrey150--core;
$theme-robatata-light-colorforegroundsurfaceon-dark: $colorwhitealpha-88--core;
$theme-robatata-light-colorforegroundsurfaceon-highlight: $colordark-matter1000--core;
$theme-robatata-light-colorforegroundsurfaceorder-quantitybase: $colorgrey150--core;
$theme-robatata-light-colorforegroundsurfaceorder-quantityweak: $colorbright-carrot50--core;
$theme-robatata-light-colorforegroundbody: $colordark-matter700--core;
$theme-robatata-light-colorforegrounddangerdefault: $colorred500--core;
$theme-robatata-light-colorforegroundpositivedefault: $colorgreen500--core;
$theme-robatata-light-colorforegroundwarningdefault: $coloryellow500--core;
$theme-robatata-light-colorforegrounddisableddefault: $colordark-matter500--core;
$theme-robatata-light-colorborderdefault: $colordark-matter200--core;
$theme-robatata-light-colorborderweak: $colordark-matter100--core;
$theme-robatata-light-colorborderon-dark: $colorwhitealpha-40--core;
$theme-robatata-light-colorborderdangerdefault: $colorred500--core;
$theme-robatata-light-colorborderpositivedefault: $colorgreen500--core;
$theme-robatata-light-colorborderdisableddefault: $colorblackalpha-12--core;
$theme-robatata-light-colorborderdisabledon-accent: $colorwhitealpha-20--core;
$theme-robatata-light-colorbackgrounddangerbase: $colorred900--core;
$theme-robatata-light-colorbackgroundwarningbase: $coloryellow500--core;
$theme-robatata-light-colorbackgroundwarningweak: $coloryellow50--core;
$theme-robatata-light-colorbackgroundpositivebase: $colorgreen500--core;
$theme-robatata-light-colorbackgroundpositiveweak: $colorgreen50--core;
$theme-robatata-light-colorbackgrounddangerweak: $colorred50--core;
$theme-robatata-light-colorbackgroundprogressioninitial: $colorgrey500--core;
$theme-robatata-light-colorbackgroundprogressionincreased: $colorbackgroundpositivebase--sweet-coffee;
$theme-robatata-light-colorbackgroundprogressioncritical: $colorbackgroundwarningbase--sweet-coffee;
$theme-robatata-light-colorbackgroundprogressionmax: $colorbackgrounddangerbase--sweet-coffee;
$theme-robatata-light-colorbackgroundsubtlepressed: $colorblackalpha-4--core;
$theme-robatata-light-colorbackgroundsubtleactive: $colorblackalpha-8--core;
$theme-robatata-light-colorbackgroundinfobase: $colorinfo-blue_obsolete500--core;
$theme-robatata-light-colorbackgroundinfoweak: $colorinfo-blue_obsolete50--core;
$theme-robatata-light-colorborderaccentdefault: $colorbright-carrot500--core;
$theme-robatata-light-colorborderaccentalternative: $colordark-matter500--core;