$sweet-coffee-display-xl-font-family: $font-familybasemedium--sweet-coffee;
$sweet-coffee-display-xl-font-weight: Medium;
$sweet-coffee-display-xl-font-size-default: 120;
$sweet-coffee-display-xl-line-height-default: 160;
$sweet-coffee-display-l-font-family: $font-familybasemedium--sweet-coffee;
$sweet-coffee-display-l-font-weight: Medium;
$sweet-coffee-display-l-font-size-default: 104;
$sweet-coffee-display-l-line-height-default: 160;
$sweet-coffee-display-l-brand-font-family: $font-familybrand--sweet-coffee;
$sweet-coffee-display-l-brand-font-weight: Bold;
$sweet-coffee-display-l-brand-font-size-default: 80;
$sweet-coffee-display-l-brand-line-height-default: 108;
$sweet-coffee-display-m-brand-font-family: $font-familybrand--sweet-coffee;
$sweet-coffee-display-m-brand-font-weight: Bold;
$sweet-coffee-display-m-brand-font-size-default: 56;
$sweet-coffee-display-m-brand-line-height-default: 76;
$sweet-coffee-display-m-font-family: $font-familybasesemibold--sweet-coffee;
$sweet-coffee-display-m-font-weight: Bold;
$sweet-coffee-display-m-font-size-default: 56;
$sweet-coffee-display-m-line-height-default: 76;
$sweet-coffee-display-s-brand-font-family: $font-familybrand--sweet-coffee;
$sweet-coffee-display-s-brand-font-weight: Bold;
$sweet-coffee-display-s-brand-font-size-default: 40;
$sweet-coffee-display-s-brand-line-height-default: 54;
$sweet-coffee-title-xl-font-family: $font-familybasesemibold--sweet-coffee;
$sweet-coffee-title-xl-font-weight: Semibold;
$sweet-coffee-title-xl-font-size-default: 64;
$sweet-coffee-title-xl-line-height-default: 90;
$sweet-coffee-title-xl-letter-spacing: 0.5;
$sweet-coffee-title-l-font-family: $font-familybasesemibold--sweet-coffee;
$sweet-coffee-title-l-font-weight: Semibold;
$sweet-coffee-title-l-font-size-default: 48;
$sweet-coffee-title-l-line-height-default: 48;
$sweet-coffee-title-l-letter-spacing: 0.5;
$sweet-coffee-body-l-font-family: $font-familybasemedium--sweet-coffee;
$sweet-coffee-body-l-font-weight: Medium;
$sweet-coffee-body-l-font-size-default: 40;
$sweet-coffee-body-l-line-height-default: 60;
$sweet-coffee-body-l-letter-spacing: 0.5;
$sweet-coffee-body-m-font-family: $font-familybasemedium--sweet-coffee;
$sweet-coffee-body-m-font-weight: Medium;
$sweet-coffee-body-m-font-size-default: 32;
$sweet-coffee-body-m-line-height-default: 48;
$sweet-coffee-body-m-letter-spacing: 0.5;
$sweet-coffee-body-m-strong-font-family: $font-familybasesemibold--sweet-coffee;
$sweet-coffee-body-m-strong-font-weight: Semibold;
$sweet-coffee-body-m-strong-font-size-default: 32;
$sweet-coffee-body-m-strong-line-height-default: 48;
$sweet-coffee-body-m-strong-letter-spacing: 0.5;
$sweet-coffee-body-s-font-family: $font-familybasemedium--sweet-coffee;
$sweet-coffee-body-s-font-weight: Medium;
$sweet-coffee-body-s-font-size-default: 26;
$sweet-coffee-body-s-line-height-default: 40;
$sweet-coffee-body-s-letter-spacing: 0.5;
$sweet-coffee-label-xl-font-family: $font-familybasemedium--sweet-coffee;
$sweet-coffee-label-xl-font-weight: Bold;
$sweet-coffee-label-xl-font-size-default: 40;
$sweet-coffee-label-xl-line-height-default: 40;
$sweet-coffee-label-xl-letter-spacing: 0.5;
$sweet-coffee-label-l-font-family: $font-familybasemedium--sweet-coffee;
$sweet-coffee-label-l-font-weight: Medium;
$sweet-coffee-label-l-font-size-default: 32;
$sweet-coffee-label-l-line-height-default: 32;
$sweet-coffee-label-l-letter-spacing: 0.5;
$sweet-coffee-label-m-strong-font-size-default: $font-size325--core;
$sweet-coffee-label-m-strong-letter-spacing: 0.6000000238418579;
$sweet-coffee-label-m-font-family: $font-familybasesemibold--sweet-coffee;
$sweet-coffee-label-m-font-weight: Medium;
$sweet-coffee-label-m-font-size-default: 26;
$sweet-coffee-label-m-line-height-default: 26;
$sweet-coffee-label-m-letter-spacing: 0.10000000149011612;
$sweet-coffee-label-s-font-family: $font-familybasemedium--sweet-coffee;
$sweet-coffee-label-s-font-weight: Medium;
$sweet-coffee-label-s-font-size-default: 22;
$sweet-coffee-label-s-line-height-default: 30;
$sweet-coffee-label-s-letter-spacing: 0.5;
$sweet-coffee-display-s-font-family: $font-familybasesemibold--sweet-coffee;
$sweet-coffee-display-s-font-weight: Bold;
$sweet-coffee-display-s-font-size-default: 40;
$sweet-coffee-display-s-line-height-default: 54;
$sweet-coffee-label-xs-font-family: $font-familybasesemibold--sweet-coffee;
$sweet-coffee-label-xs-font-weight: Semibold;
$sweet-coffee-label-xs-font-size-default: 18;
$sweet-coffee-label-xs-line-height-default: 24;
$sweet-coffee-label-xs-letter-spacing: 0.10000000149011612;
$sweet-coffee-display-s-extended-font-family: $font-familybasesemibold--sweet-coffee;
$sweet-coffee-display-s-extended-font-weight: Bold;
$sweet-coffee-display-s-extended-font-size-default: 44;
$sweet-coffee-display-s-extended-line-height-default: 44;
$sweet-coffee-body-xs-font-family: $font-familybasemedium--sweet-coffee;
$sweet-coffee-body-xs-font-weight: Medium;
$sweet-coffee-body-xs-font-size-default: 22;
$sweet-coffee-body-xs-line-height-default: 36;
$sweet-coffee-body-xs-letter-spacing: 0.5;
$sweet-coffee-body-xxs-font-family: $font-familybasemedium--sweet-coffee;
$sweet-coffee-body-xxs-font-weight: Medium;
$sweet-coffee-body-xxs-font-size-default: 18;
$sweet-coffee-body-xxs-line-height-default: 28;
$sweet-coffee-body-xxs-letter-spacing: 0.5;
$papi-churro-display-xl-font-family: $font-familybasemedium--sweet-coffee;
$papi-churro-display-xl-font-weight: Medium;
$papi-churro-display-xl-font-size-default: 120;
$papi-churro-display-xl-line-height-default: 160;
$papi-churro-display-l-font-family: $font-familybasemedium--sweet-coffee;
$papi-churro-display-l-font-weight: Medium;
$papi-churro-display-l-font-size-default: 104;
$papi-churro-display-l-line-height-default: 160;
$papi-churro-display-l-brand-font-family: $font-familybrand--sweet-coffee;
$papi-churro-display-l-brand-font-weight: Bold;
$papi-churro-display-l-brand-font-size-default: 80;
$papi-churro-display-l-brand-line-height-default: 108;
$papi-churro-display-m-brand-font-family: $font-familybrand--sweet-coffee;
$papi-churro-display-m-brand-font-weight: Bold;
$papi-churro-display-m-brand-font-size-default: 56;
$papi-churro-display-m-brand-line-height-default: 76;
$papi-churro-display-m-font-family: $font-familybasesemibold--sweet-coffee;
$papi-churro-display-m-font-weight: ExtraBold;
$papi-churro-display-m-font-size-default: 56;
$papi-churro-display-m-line-height-default: 76;
$papi-churro-display-s-brand-font-family: $font-familybrand--sweet-coffee;
$papi-churro-display-s-brand-font-weight: Bold;
$papi-churro-display-s-brand-font-size-default: 40;
$papi-churro-display-s-brand-line-height-default: 54;
$papi-churro-title-xl-font-family: $font-familybasesemibold--sweet-coffee;
$papi-churro-title-xl-font-weight: Regular;
$papi-churro-title-xl-font-size-default: 64;
$papi-churro-title-xl-line-height-default: 90;
$papi-churro-title-xl-letter-spacing: 0.5;
$papi-churro-title-l-font-family: $font-familybasesemibold--sweet-coffee;
$papi-churro-title-l-font-weight: Regular;
$papi-churro-title-l-font-size-default: 48;
$papi-churro-title-l-line-height-default: 56;
$papi-churro-title-l-letter-spacing: 0.5;
$papi-churro-body-l-font-family: $font-familybasemedium--sweet-coffee;
$papi-churro-body-l-font-weight: Regular;
$papi-churro-body-l-font-size-default: 40;
$papi-churro-body-l-line-height-default: 60;
$papi-churro-body-l-letter-spacing: 0.5;
$papi-churro-body-m-font-family: $font-familybasemedium--sweet-coffee;
$papi-churro-body-m-font-weight: Regular;
$papi-churro-body-m-font-size-default: 32;
$papi-churro-body-m-line-height-default: 48;
$papi-churro-body-m-letter-spacing: 0.5;
$papi-churro-body-m-strong-font-family: $font-familybasesemibold--sweet-coffee;
$papi-churro-body-m-strong-font-weight: Bold;
$papi-churro-body-m-strong-font-size-default: 32;
$papi-churro-body-m-strong-line-height-default: 48;
$papi-churro-body-m-strong-letter-spacing: 0.5;
$papi-churro-body-s-font-family: $font-familybasemedium--sweet-coffee;
$papi-churro-body-s-font-weight: Regular;
$papi-churro-body-s-font-size-default: 26;
$papi-churro-body-s-line-height-default: 40;
$papi-churro-body-s-letter-spacing: 0.5;
$papi-churro-label-xl-font-family: $font-familybasemedium--sweet-coffee;
$papi-churro-label-xl-font-weight: Bold;
$papi-churro-label-xl-font-size-default: 40;
$papi-churro-label-xl-line-height-default: 40;
$papi-churro-label-xl-letter-spacing: 0.5;
$papi-churro-label-l-font-family: $font-familybasemedium--sweet-coffee;
$papi-churro-label-l-font-weight: Medium;
$papi-churro-label-l-font-size-default: 32;
$papi-churro-label-l-line-height-default: 32;
$papi-churro-label-l-letter-spacing: 0.5;
$papi-churro-label-m-strong-font-size-default: $font-size325--core;
$papi-churro-label-m-strong-letter-spacing: 0.6000000238418579;
$papi-churro-label-m-font-family: $font-familybasesemibold--sweet-coffee;
$papi-churro-label-m-font-weight: Bold;
$papi-churro-label-m-font-size-default: 26;
$papi-churro-label-m-line-height-default: 26;
$papi-churro-label-m-letter-spacing: 0.10000000149011612;
$papi-churro-label-s-font-family: $font-familybasemedium--sweet-coffee;
$papi-churro-label-s-font-weight: Bold;
$papi-churro-label-s-font-size-default: 22;
$papi-churro-label-s-line-height-default: 30;
$papi-churro-label-s-letter-spacing: 0.5;
$papi-churro-display-s-font-family: $font-familybasesemibold--sweet-coffee;
$papi-churro-display-s-font-weight: Bold;
$papi-churro-display-s-font-size-default: 40;
$papi-churro-display-s-line-height-default: 54;
$papi-churro-label-xs-font-family: $font-familybasemedium--sweet-coffee;
$papi-churro-label-xs-font-weight: Bold;
$papi-churro-label-xs-font-size-default: 18;
$papi-churro-label-xs-line-height-default: 24;
$papi-churro-label-xs-letter-spacing: 0.10000000149011612;
$papi-churro-display-s-extended-font-family: $font-familybasesemibold--sweet-coffee;
$papi-churro-display-s-extended-font-weight: Bold;
$papi-churro-display-s-extended-font-size-default: 44;
$papi-churro-display-s-extended-line-height-default: 44;
$papi-churro-body-xs-font-family: $font-familybasemedium--sweet-coffee;
$papi-churro-body-xs-font-weight: Regular;
$papi-churro-body-xs-font-size-default: 22;
$papi-churro-body-xs-line-height-default: 36;
$papi-churro-body-xs-letter-spacing: 0.5;
$papi-churro-body-xxs-font-family: $font-familybasemedium--sweet-coffee;
$papi-churro-body-xxs-font-weight: Regular;
$papi-churro-body-xxs-font-size-default: 18;
$papi-churro-body-xxs-line-height-default: 28;
$papi-churro-body-xxs-letter-spacing: 0.5;
$sanducheria-display-xl-font-family: $font-familybasemedium--sweet-coffee;
$sanducheria-display-xl-font-weight: Medium;
$sanducheria-display-xl-font-size-default: 120;
$sanducheria-display-xl-line-height-default: 160;
$sanducheria-display-l-font-family: $font-familybasemedium--sweet-coffee;
$sanducheria-display-l-font-weight: Medium;
$sanducheria-display-l-font-size-default: 104;
$sanducheria-display-l-line-height-default: 160;
$sanducheria-display-l-brand-font-family: $font-familybrand--sweet-coffee;
$sanducheria-display-l-brand-font-weight: Bold;
$sanducheria-display-l-brand-font-size-default: 80;
$sanducheria-display-l-brand-line-height-default: 108;
$sanducheria-display-m-brand-font-family: $font-familybrand--sweet-coffee;
$sanducheria-display-m-brand-font-weight: Semibold;
$sanducheria-display-m-brand-font-size-default: 56;
$sanducheria-display-m-brand-line-height-default: 76;
$sanducheria-display-m-font-family: $font-familybasesemibold--sweet-coffee;
$sanducheria-display-m-font-weight: ExtraBold;
$sanducheria-display-m-font-size-default: 56;
$sanducheria-display-m-line-height-default: 76;
$sanducheria-display-s-brand-font-family: $font-familybrand--sweet-coffee;
$sanducheria-display-s-brand-font-weight: Bold;
$sanducheria-display-s-brand-font-size-default: 40;
$sanducheria-display-s-brand-line-height-default: 54;
$sanducheria-title-xl-font-family: $font-familybasesemibold--sweet-coffee;
$sanducheria-title-xl-font-weight: Regular;
$sanducheria-title-xl-font-size-default: 64;
$sanducheria-title-xl-line-height-default: 90;
$sanducheria-title-xl-letter-spacing: 0.5;
$sanducheria-title-l-font-family: $font-familybasesemibold--sweet-coffee;
$sanducheria-title-l-font-weight: Regular;
$sanducheria-title-l-font-size-default: 48;
$sanducheria-title-l-line-height-default: 56;
$sanducheria-title-l-letter-spacing: 0.5;
$sanducheria-body-l-font-family: $font-familybasemedium--sweet-coffee;
$sanducheria-body-l-font-weight: Regular;
$sanducheria-body-l-font-size-default: 40;
$sanducheria-body-l-line-height-default: 60;
$sanducheria-body-l-letter-spacing: 0.5;
$sanducheria-body-m-font-family: $font-familybasemedium--sweet-coffee;
$sanducheria-body-m-font-weight: Regular;
$sanducheria-body-m-font-size-default: 32;
$sanducheria-body-m-line-height-default: 48;
$sanducheria-body-m-letter-spacing: 0.5;
$sanducheria-body-m-strong-font-family: $font-familybasesemibold--sweet-coffee;
$sanducheria-body-m-strong-font-weight: Bold;
$sanducheria-body-m-strong-font-size-default: 32;
$sanducheria-body-m-strong-line-height-default: 48;
$sanducheria-body-m-strong-letter-spacing: 0.5;
$sanducheria-body-s-font-family: $font-familybasemedium--sweet-coffee;
$sanducheria-body-s-font-weight: Regular;
$sanducheria-body-s-font-size-default: 26;
$sanducheria-body-s-line-height-default: 40;
$sanducheria-body-s-letter-spacing: 0.5;
$sanducheria-label-xl-font-family: $font-familybasemedium--sweet-coffee;
$sanducheria-label-xl-font-weight: Bold;
$sanducheria-label-xl-font-size-default: 40;
$sanducheria-label-xl-line-height-default: 40;
$sanducheria-label-xl-letter-spacing: 0.5;
$sanducheria-label-l-font-family: $font-familybasemedium--sweet-coffee;
$sanducheria-label-l-font-weight: Medium;
$sanducheria-label-l-font-size-default: 32;
$sanducheria-label-l-line-height-default: 32;
$sanducheria-label-l-letter-spacing: 0.5;
$sanducheria-label-m-strong-font-size-default: $font-size325--core;
$sanducheria-label-m-strong-letter-spacing: 0.6000000238418579;
$sanducheria-label-m-font-family: $font-familybasesemibold--sweet-coffee;
$sanducheria-label-m-font-weight: Bold;
$sanducheria-label-m-font-size-default: 26;
$sanducheria-label-m-line-height-default: 26;
$sanducheria-label-m-letter-spacing: 0.10000000149011612;
$sanducheria-label-s-font-family: $font-familybasemedium--sweet-coffee;
$sanducheria-label-s-font-weight: Bold;
$sanducheria-label-s-font-size-default: 22;
$sanducheria-label-s-line-height-default: 30;
$sanducheria-label-s-letter-spacing: 0.5;
$sanducheria-display-s-font-family: $font-familybasesemibold--sweet-coffee;
$sanducheria-display-s-font-weight: Bold;
$sanducheria-display-s-font-size-default: 40;
$sanducheria-display-s-line-height-default: 54;
$sanducheria-label-xs-font-family: $font-familybasemedium--sweet-coffee;
$sanducheria-label-xs-font-weight: Bold;
$sanducheria-label-xs-font-size-default: 18;
$sanducheria-label-xs-line-height-default: 24;
$sanducheria-label-xs-letter-spacing: 0.10000000149011612;
$sanducheria-display-s-extended-font-family: $font-familybasesemibold--sweet-coffee;
$sanducheria-display-s-extended-font-weight: Bold;
$sanducheria-display-s-extended-font-size-default: 44;
$sanducheria-display-s-extended-line-height-default: 44;
$sanducheria-body-xs-font-family: $font-familybasemedium--sweet-coffee;
$sanducheria-body-xs-font-weight: Regular;
$sanducheria-body-xs-font-size-default: 22;
$sanducheria-body-xs-line-height-default: 36;
$sanducheria-body-xs-letter-spacing: 0.5;
$sanducheria-body-xxs-font-family: $font-familybasemedium--sweet-coffee;
$sanducheria-body-xxs-font-weight: Regular;
$sanducheria-body-xxs-font-size-default: 18;
$sanducheria-body-xxs-line-height-default: 28;
$sanducheria-body-xxs-letter-spacing: 0.5;
$ice-n-clouds-display-xl-font-family: $font-familybasemedium--sweet-coffee;
$ice-n-clouds-display-xl-font-weight: Medium;
$ice-n-clouds-display-xl-font-size-default: 120;
$ice-n-clouds-display-xl-line-height-default: 160;
$ice-n-clouds-display-l-font-family: $font-familybasemedium--sweet-coffee;
$ice-n-clouds-display-l-font-weight: Medium;
$ice-n-clouds-display-l-font-size-default: 104;
$ice-n-clouds-display-l-line-height-default: 160;
$ice-n-clouds-display-l-brand-font-family: $font-familybrand--sweet-coffee;
$ice-n-clouds-display-l-brand-font-weight: Bold;
$ice-n-clouds-display-l-brand-font-size-default: 80;
$ice-n-clouds-display-l-brand-line-height-default: 108;
$ice-n-clouds-display-m-brand-font-family: $font-familybrand--sweet-coffee;
$ice-n-clouds-display-m-brand-font-weight: Semibold;
$ice-n-clouds-display-m-brand-font-size-default: 56;
$ice-n-clouds-display-m-brand-line-height-default: 76;
$ice-n-clouds-display-m-font-family: $font-familybasesemibold--sweet-coffee;
$ice-n-clouds-display-m-font-weight: ExtraBold;
$ice-n-clouds-display-m-font-size-default: 56;
$ice-n-clouds-display-m-line-height-default: 76;
$ice-n-clouds-display-s-brand-font-family: $font-familybrand--sweet-coffee;
$ice-n-clouds-display-s-brand-font-weight: Bold;
$ice-n-clouds-display-s-brand-font-size-default: 40;
$ice-n-clouds-display-s-brand-line-height-default: 54;
$ice-n-clouds-title-xl-font-family: $font-familybasesemibold--sweet-coffee;
$ice-n-clouds-title-xl-font-weight: Regular;
$ice-n-clouds-title-xl-font-size-default: 64;
$ice-n-clouds-title-xl-line-height-default: 90;
$ice-n-clouds-title-xl-letter-spacing: 0.5;
$ice-n-clouds-title-l-font-family: $font-familybasesemibold--sweet-coffee;
$ice-n-clouds-title-l-font-weight: Regular;
$ice-n-clouds-title-l-font-size-default: 48;
$ice-n-clouds-title-l-line-height-default: 56;
$ice-n-clouds-title-l-letter-spacing: 0.5;
$ice-n-clouds-body-l-font-family: $font-familybasemedium--sweet-coffee;
$ice-n-clouds-body-l-font-weight: Regular;
$ice-n-clouds-body-l-font-size-default: 40;
$ice-n-clouds-body-l-line-height-default: 60;
$ice-n-clouds-body-l-letter-spacing: 0.5;
$ice-n-clouds-body-m-font-family: $font-familybasemedium--sweet-coffee;
$ice-n-clouds-body-m-font-weight: Regular;
$ice-n-clouds-body-m-font-size-default: 32;
$ice-n-clouds-body-m-line-height-default: 48;
$ice-n-clouds-body-m-letter-spacing: 0.5;
$ice-n-clouds-body-m-strong-font-family: $font-familybasesemibold--sweet-coffee;
$ice-n-clouds-body-m-strong-font-weight: Bold;
$ice-n-clouds-body-m-strong-font-size-default: 32;
$ice-n-clouds-body-m-strong-line-height-default: 48;
$ice-n-clouds-body-m-strong-letter-spacing: 0.5;
$ice-n-clouds-body-s-font-family: $font-familybasemedium--sweet-coffee;
$ice-n-clouds-body-s-font-weight: Regular;
$ice-n-clouds-body-s-font-size-default: 26;
$ice-n-clouds-body-s-line-height-default: 40;
$ice-n-clouds-body-s-letter-spacing: 0.5;
$ice-n-clouds-label-xl-font-family: $font-familybasemedium--sweet-coffee;
$ice-n-clouds-label-xl-font-weight: Bold;
$ice-n-clouds-label-xl-font-size-default: 40;
$ice-n-clouds-label-xl-line-height-default: 40;
$ice-n-clouds-label-xl-letter-spacing: 0.5;
$ice-n-clouds-label-l-font-family: $font-familybasemedium--sweet-coffee;
$ice-n-clouds-label-l-font-weight: Medium;
$ice-n-clouds-label-l-font-size-default: 32;
$ice-n-clouds-label-l-line-height-default: 32;
$ice-n-clouds-label-l-letter-spacing: 0.5;
$ice-n-clouds-label-m-strong-font-size-default: $font-size325--core;
$ice-n-clouds-label-m-strong-letter-spacing: 0.6000000238418579;
$ice-n-clouds-label-m-font-family: $font-familybasesemibold--sweet-coffee;
$ice-n-clouds-label-m-font-weight: Bold;
$ice-n-clouds-label-m-font-size-default: 26;
$ice-n-clouds-label-m-line-height-default: 26;
$ice-n-clouds-label-m-letter-spacing: 0.10000000149011612;
$ice-n-clouds-label-s-font-family: $font-familybasemedium--sweet-coffee;
$ice-n-clouds-label-s-font-weight: Bold;
$ice-n-clouds-label-s-font-size-default: 22;
$ice-n-clouds-label-s-line-height-default: 30;
$ice-n-clouds-label-s-letter-spacing: 0.5;
$ice-n-clouds-display-s-font-family: $font-familybasesemibold--sweet-coffee;
$ice-n-clouds-display-s-font-weight: Bold;
$ice-n-clouds-display-s-font-size-default: 40;
$ice-n-clouds-display-s-line-height-default: 54;
$ice-n-clouds-label-xs-font-family: $font-familybasemedium--sweet-coffee;
$ice-n-clouds-label-xs-font-weight: Bold;
$ice-n-clouds-label-xs-font-size-default: 18;
$ice-n-clouds-label-xs-line-height-default: 24;
$ice-n-clouds-label-xs-letter-spacing: 0.10000000149011612;
$ice-n-clouds-display-s-extended-font-family: $font-familybasesemibold--sweet-coffee;
$ice-n-clouds-display-s-extended-font-weight: Bold;
$ice-n-clouds-display-s-extended-font-size-default: 44;
$ice-n-clouds-display-s-extended-line-height-default: 44;
$ice-n-clouds-body-xs-font-family: $font-familybasemedium--sweet-coffee;
$ice-n-clouds-body-xs-font-weight: Regular;
$ice-n-clouds-body-xs-font-size-default: 22;
$ice-n-clouds-body-xs-line-height-default: 36;
$ice-n-clouds-body-xs-letter-spacing: 0.5;
$ice-n-clouds-body-xxs-font-family: $font-familybasemedium--sweet-coffee;
$ice-n-clouds-body-xxs-font-weight: Regular;
$ice-n-clouds-body-xxs-font-size-default: 18;
$ice-n-clouds-body-xxs-line-height-default: 28;
$ice-n-clouds-body-xxs-letter-spacing: 0.5;
$mama-shawarma-display-xl-font-family: $font-familybasemedium--sweet-coffee;
$mama-shawarma-display-xl-font-weight: Medium;
$mama-shawarma-display-xl-font-size-default: 120;
$mama-shawarma-display-xl-line-height-default: 160;
$mama-shawarma-display-l-font-family: $font-familybasemedium--sweet-coffee;
$mama-shawarma-display-l-font-weight: Medium;
$mama-shawarma-display-l-font-size-default: 104;
$mama-shawarma-display-l-line-height-default: 160;
$mama-shawarma-display-l-brand-font-family: $font-familybrand--sweet-coffee;
$mama-shawarma-display-l-brand-font-weight: Bold;
$mama-shawarma-display-l-brand-font-size-default: 80;
$mama-shawarma-display-l-brand-line-height-default: 108;
$mama-shawarma-display-m-brand-font-family: $font-familybrand--sweet-coffee;
$mama-shawarma-display-m-brand-font-weight: Medium;
$mama-shawarma-display-m-brand-font-size-default: 56;
$mama-shawarma-display-m-brand-line-height-default: 76;
$mama-shawarma-display-m-font-family: $font-familybasesemibold--sweet-coffee;
$mama-shawarma-display-m-font-weight: ExtraBold;
$mama-shawarma-display-m-font-size-default: 56;
$mama-shawarma-display-m-line-height-default: 76;
$mama-shawarma-display-s-brand-font-family: $font-familybrand--sweet-coffee;
$mama-shawarma-display-s-brand-font-weight: Regular;
$mama-shawarma-display-s-brand-font-size-default: 40;
$mama-shawarma-display-s-brand-line-height-default: 54;
$mama-shawarma-title-xl-font-family: $font-familybasesemibold--sweet-coffee;
$mama-shawarma-title-xl-font-weight: Regular;
$mama-shawarma-title-xl-font-size-default: 64;
$mama-shawarma-title-xl-line-height-default: 90;
$mama-shawarma-title-xl-letter-spacing: 0.5;
$mama-shawarma-title-l-font-family: $font-familybasesemibold--sweet-coffee;
$mama-shawarma-title-l-font-weight: Regular;
$mama-shawarma-title-l-font-size-default: 48;
$mama-shawarma-title-l-line-height-default: 56;
$mama-shawarma-title-l-letter-spacing: 0.5;
$mama-shawarma-body-l-font-family: $font-familybasemedium--sweet-coffee;
$mama-shawarma-body-l-font-weight: Regular;
$mama-shawarma-body-l-font-size-default: 40;
$mama-shawarma-body-l-line-height-default: 60;
$mama-shawarma-body-l-letter-spacing: 0.5;
$mama-shawarma-body-m-font-family: $font-familybasemedium--sweet-coffee;
$mama-shawarma-body-m-font-weight: Regular;
$mama-shawarma-body-m-font-size-default: 32;
$mama-shawarma-body-m-line-height-default: 48;
$mama-shawarma-body-m-letter-spacing: 0.5;
$mama-shawarma-body-m-strong-font-family: $font-familybasesemibold--sweet-coffee;
$mama-shawarma-body-m-strong-font-weight: Bold;
$mama-shawarma-body-m-strong-font-size-default: 32;
$mama-shawarma-body-m-strong-line-height-default: 48;
$mama-shawarma-body-m-strong-letter-spacing: 0.5;
$mama-shawarma-body-s-font-family: $font-familybasemedium--sweet-coffee;
$mama-shawarma-body-s-font-weight: Regular;
$mama-shawarma-body-s-font-size-default: 26;
$mama-shawarma-body-s-line-height-default: 40;
$mama-shawarma-body-s-letter-spacing: 0.5;
$mama-shawarma-label-xl-font-family: $font-familybasemedium--sweet-coffee;
$mama-shawarma-label-xl-font-weight: Bold;
$mama-shawarma-label-xl-font-size-default: 40;
$mama-shawarma-label-xl-line-height-default: 40;
$mama-shawarma-label-xl-letter-spacing: 0.5;
$mama-shawarma-label-l-font-family: $font-familybasemedium--sweet-coffee;
$mama-shawarma-label-l-font-weight: Medium;
$mama-shawarma-label-l-font-size-default: 32;
$mama-shawarma-label-l-line-height-default: 32;
$mama-shawarma-label-l-letter-spacing: 0.5;
$mama-shawarma-label-m-strong-font-size-default: $font-size325--core;
$mama-shawarma-label-m-strong-letter-spacing: 0.6000000238418579;
$mama-shawarma-label-m-font-family: $font-familybasesemibold--sweet-coffee;
$mama-shawarma-label-m-font-weight: Bold;
$mama-shawarma-label-m-font-size-default: 26;
$mama-shawarma-label-m-line-height-default: 26;
$mama-shawarma-label-m-letter-spacing: 0.10000000149011612;
$mama-shawarma-label-s-font-family: $font-familybasemedium--sweet-coffee;
$mama-shawarma-label-s-font-weight: Bold;
$mama-shawarma-label-s-font-size-default: 22;
$mama-shawarma-label-s-line-height-default: 30;
$mama-shawarma-label-s-letter-spacing: 0.5;
$mama-shawarma-display-s-font-family: $font-familybasesemibold--sweet-coffee;
$mama-shawarma-display-s-font-weight: Bold;
$mama-shawarma-display-s-font-size-default: 40;
$mama-shawarma-display-s-line-height-default: 54;
$mama-shawarma-label-xs-font-family: $font-familybasemedium--sweet-coffee;
$mama-shawarma-label-xs-font-weight: Bold;
$mama-shawarma-label-xs-font-size-default: 18;
$mama-shawarma-label-xs-line-height-default: 24;
$mama-shawarma-label-xs-letter-spacing: 0.10000000149011612;
$mama-shawarma-display-s-extended-font-family: $font-familybasesemibold--sweet-coffee;
$mama-shawarma-display-s-extended-font-weight: Bold;
$mama-shawarma-display-s-extended-font-size-default: 44;
$mama-shawarma-display-s-extended-line-height-default: 44;
$mama-shawarma-body-xs-font-family: $font-familybasemedium--sweet-coffee;
$mama-shawarma-body-xs-font-weight: Regular;
$mama-shawarma-body-xs-font-size-default: 22;
$mama-shawarma-body-xs-line-height-default: 36;
$mama-shawarma-body-xs-letter-spacing: 0.5;
$mama-shawarma-body-xxs-font-family: $font-familybasemedium--sweet-coffee;
$mama-shawarma-body-xxs-font-weight: Regular;
$mama-shawarma-body-xxs-font-size-default: 18;
$mama-shawarma-body-xxs-line-height-default: 28;
$mama-shawarma-body-xxs-letter-spacing: 0.5;
$duke-of-buns-display-xl-font-family: $font-familybasemedium--sweet-coffee;
$duke-of-buns-display-xl-font-weight: Medium;
$duke-of-buns-display-xl-font-size-default: 120;
$duke-of-buns-display-xl-line-height-default: 160;
$duke-of-buns-display-l-font-family: $font-familybasemedium--sweet-coffee;
$duke-of-buns-display-l-font-weight: Medium;
$duke-of-buns-display-l-font-size-default: 104;
$duke-of-buns-display-l-line-height-default: 160;
$duke-of-buns-display-l-brand-font-family: $font-familybrand--sweet-coffee;
$duke-of-buns-display-l-brand-font-weight: Regular;
$duke-of-buns-display-l-brand-font-size-default: 80;
$duke-of-buns-display-l-brand-line-height-default: 108;
$duke-of-buns-display-m-brand-font-family: $font-familybrand--sweet-coffee;
$duke-of-buns-display-m-brand-font-weight: ExtraBold Condensed;
$duke-of-buns-display-m-brand-font-size-default: 56;
$duke-of-buns-display-m-brand-line-height-default: 76;
$duke-of-buns-display-m-font-family: $font-familybasesemibold--sweet-coffee;
$duke-of-buns-display-m-font-weight: ExtraBold;
$duke-of-buns-display-m-font-size-default: 56;
$duke-of-buns-display-m-line-height-default: 76;
$duke-of-buns-display-s-brand-font-family: $font-familybrand--sweet-coffee;
$duke-of-buns-display-s-brand-font-weight: Bold;
$duke-of-buns-display-s-brand-font-size-default: 40;
$duke-of-buns-display-s-brand-line-height-default: 54;
$duke-of-buns-title-xl-font-family: $font-familybasesemibold--sweet-coffee;
$duke-of-buns-title-xl-font-weight: Regular;
$duke-of-buns-title-xl-font-size-default: 64;
$duke-of-buns-title-xl-line-height-default: 90;
$duke-of-buns-title-xl-letter-spacing: 0.5;
$duke-of-buns-title-l-font-family: $font-familybasesemibold--sweet-coffee;
$duke-of-buns-title-l-font-weight: Regular;
$duke-of-buns-title-l-font-size-default: 48;
$duke-of-buns-title-l-line-height-default: 56;
$duke-of-buns-title-l-letter-spacing: 0.5;
$duke-of-buns-body-l-font-family: $font-familybasemedium--sweet-coffee;
$duke-of-buns-body-l-font-weight: Regular;
$duke-of-buns-body-l-font-size-default: 40;
$duke-of-buns-body-l-line-height-default: 60;
$duke-of-buns-body-l-letter-spacing: 0.5;
$duke-of-buns-body-m-font-family: $font-familybasemedium--sweet-coffee;
$duke-of-buns-body-m-font-weight: Regular;
$duke-of-buns-body-m-font-size-default: 32;
$duke-of-buns-body-m-line-height-default: 48;
$duke-of-buns-body-m-letter-spacing: 0.5;
$duke-of-buns-body-m-strong-font-family: $font-familybasesemibold--sweet-coffee;
$duke-of-buns-body-m-strong-font-weight: Bold;
$duke-of-buns-body-m-strong-font-size-default: 32;
$duke-of-buns-body-m-strong-line-height-default: 48;
$duke-of-buns-body-m-strong-letter-spacing: 0.5;
$duke-of-buns-body-s-font-family: $font-familybasemedium--sweet-coffee;
$duke-of-buns-body-s-font-weight: Regular;
$duke-of-buns-body-s-font-size-default: 26;
$duke-of-buns-body-s-line-height-default: 40;
$duke-of-buns-body-s-letter-spacing: 0.5;
$duke-of-buns-label-xl-font-family: $font-familybasemedium--sweet-coffee;
$duke-of-buns-label-xl-font-weight: Bold;
$duke-of-buns-label-xl-font-size-default: 40;
$duke-of-buns-label-xl-line-height-default: 40;
$duke-of-buns-label-xl-letter-spacing: 0.5;
$duke-of-buns-label-l-font-family: $font-familybasemedium--sweet-coffee;
$duke-of-buns-label-l-font-weight: Medium;
$duke-of-buns-label-l-font-size-default: 32;
$duke-of-buns-label-l-line-height-default: 32;
$duke-of-buns-label-l-letter-spacing: 0.5;
$duke-of-buns-label-m-strong-font-size-default: $font-size325--core;
$duke-of-buns-label-m-strong-letter-spacing: 0.6000000238418579;
$duke-of-buns-label-m-font-family: $font-familybasesemibold--sweet-coffee;
$duke-of-buns-label-m-font-weight: Bold;
$duke-of-buns-label-m-font-size-default: 26;
$duke-of-buns-label-m-line-height-default: 26;
$duke-of-buns-label-m-letter-spacing: 0.10000000149011612;
$duke-of-buns-label-s-font-family: $font-familybasemedium--sweet-coffee;
$duke-of-buns-label-s-font-weight: Bold;
$duke-of-buns-label-s-font-size-default: 22;
$duke-of-buns-label-s-line-height-default: 30;
$duke-of-buns-label-s-letter-spacing: 0.5;
$duke-of-buns-display-s-font-family: $font-familybasesemibold--sweet-coffee;
$duke-of-buns-display-s-font-weight: Bold;
$duke-of-buns-display-s-font-size-default: 40;
$duke-of-buns-display-s-line-height-default: 54;
$duke-of-buns-label-xs-font-family: $font-familybasemedium--sweet-coffee;
$duke-of-buns-label-xs-font-weight: Bold;
$duke-of-buns-label-xs-font-size-default: 18;
$duke-of-buns-label-xs-line-height-default: 24;
$duke-of-buns-label-xs-letter-spacing: 0.10000000149011612;
$duke-of-buns-display-s-extended-font-family: $font-familybasesemibold--sweet-coffee;
$duke-of-buns-display-s-extended-font-weight: Bold;
$duke-of-buns-display-s-extended-font-size-default: 44;
$duke-of-buns-display-s-extended-line-height-default: 44;
$duke-of-buns-body-xs-font-family: $font-familybasemedium--sweet-coffee;
$duke-of-buns-body-xs-font-weight: Regular;
$duke-of-buns-body-xs-font-size-default: 22;
$duke-of-buns-body-xs-line-height-default: 36;
$duke-of-buns-body-xs-letter-spacing: 0.5;
$duke-of-buns-body-xxs-font-family: $font-familybasemedium--sweet-coffee;
$duke-of-buns-body-xxs-font-weight: Regular;
$duke-of-buns-body-xxs-font-size-default: 18;
$duke-of-buns-body-xxs-line-height-default: 28;
$duke-of-buns-body-xxs-letter-spacing: 0.5;
$robatatata-dark-display-xl-font-family: $font-familybasemedium--sweet-coffee;
$robatatata-dark-display-xl-font-weight: Medium;
$robatatata-dark-display-xl-font-size-default: 120;
$robatatata-dark-display-xl-line-height-default: 160;
$robatatata-dark-display-l-font-family: $font-familybasemedium--sweet-coffee;
$robatatata-dark-display-l-font-weight: Medium;
$robatatata-dark-display-l-font-size-default: 104;
$robatatata-dark-display-l-line-height-default: 160;
$robatatata-dark-display-l-brand-font-family: $font-familybrand--sweet-coffee;
$robatatata-dark-display-l-brand-font-weight: Bold Narrow;
$robatatata-dark-display-l-brand-font-size-default: 80;
$robatatata-dark-display-l-brand-line-height-default: 108;
$robatatata-dark-display-m-brand-font-family: $font-familybrand--sweet-coffee;
$robatatata-dark-display-m-brand-font-weight: Bold Narrow;
$robatatata-dark-display-m-brand-font-size-default: 64;
$robatatata-dark-display-m-brand-line-height-default: 76;
$robatatata-dark-display-m-font-family: $font-familybasesemibold--sweet-coffee;
$robatatata-dark-display-m-font-weight: ExtraBold;
$robatatata-dark-display-m-font-size-default: 56;
$robatatata-dark-display-m-line-height-default: 76;
$robatatata-dark-display-s-brand-font-family: $font-familybrand--sweet-coffee;
$robatatata-dark-display-s-brand-font-weight: Bold Narrow;
$robatatata-dark-display-s-brand-font-size-default: 48;
$robatatata-dark-display-s-brand-line-height-default: 54;
$robatatata-dark-title-xl-font-family: $font-familybasesemibold--sweet-coffee;
$robatatata-dark-title-xl-font-weight: Regular;
$robatatata-dark-title-xl-font-size-default: 64;
$robatatata-dark-title-xl-line-height-default: 90;
$robatatata-dark-title-xl-letter-spacing: 0.5;
$robatatata-dark-title-l-font-family: $font-familybasesemibold--sweet-coffee;
$robatatata-dark-title-l-font-weight: Regular;
$robatatata-dark-title-l-font-size-default: 48;
$robatatata-dark-title-l-line-height-default: 56;
$robatatata-dark-title-l-letter-spacing: 0.5;
$robatatata-dark-body-l-font-family: $font-familybasemedium--sweet-coffee;
$robatatata-dark-body-l-font-weight: Regular;
$robatatata-dark-body-l-font-size-default: 40;
$robatatata-dark-body-l-line-height-default: 60;
$robatatata-dark-body-l-letter-spacing: 0.5;
$robatatata-dark-body-m-font-family: $font-familybasemedium--sweet-coffee;
$robatatata-dark-body-m-font-weight: Regular;
$robatatata-dark-body-m-font-size-default: 32;
$robatatata-dark-body-m-line-height-default: 48;
$robatatata-dark-body-m-letter-spacing: 0.5;
$robatatata-dark-body-m-strong-font-family: $font-familybasesemibold--sweet-coffee;
$robatatata-dark-body-m-strong-font-weight: Bold;
$robatatata-dark-body-m-strong-font-size-default: 32;
$robatatata-dark-body-m-strong-line-height-default: 48;
$robatatata-dark-body-m-strong-letter-spacing: 0.5;
$robatatata-dark-body-s-font-family: $font-familybasemedium--sweet-coffee;
$robatatata-dark-body-s-font-weight: Regular;
$robatatata-dark-body-s-font-size-default: 26;
$robatatata-dark-body-s-line-height-default: 40;
$robatatata-dark-body-s-letter-spacing: 0.5;
$robatatata-dark-label-xl-font-family: $font-familybasemedium--sweet-coffee;
$robatatata-dark-label-xl-font-weight: Bold;
$robatatata-dark-label-xl-font-size-default: 40;
$robatatata-dark-label-xl-line-height-default: 40;
$robatatata-dark-label-xl-letter-spacing: 0.5;
$robatatata-dark-label-l-font-family: $font-familybasemedium--sweet-coffee;
$robatatata-dark-label-l-font-weight: Medium;
$robatatata-dark-label-l-font-size-default: 32;
$robatatata-dark-label-l-line-height-default: 32;
$robatatata-dark-label-l-letter-spacing: 0.5;
$robatatata-dark-label-m-strong-font-size-default: $font-size325--core;
$robatatata-dark-label-m-strong-letter-spacing: 0.6000000238418579;
$robatatata-dark-label-m-font-family: $font-familybasesemibold--sweet-coffee;
$robatatata-dark-label-m-font-weight: Bold;
$robatatata-dark-label-m-font-size-default: 26;
$robatatata-dark-label-m-line-height-default: 26;
$robatatata-dark-label-m-letter-spacing: 0.10000000149011612;
$robatatata-dark-label-s-font-family: $font-familybasemedium--sweet-coffee;
$robatatata-dark-label-s-font-weight: Bold;
$robatatata-dark-label-s-font-size-default: 22;
$robatatata-dark-label-s-line-height-default: 30;
$robatatata-dark-label-s-letter-spacing: 0.5;
$robatatata-dark-display-s-font-family: $font-familybasesemibold--sweet-coffee;
$robatatata-dark-display-s-font-weight: Bold;
$robatatata-dark-display-s-font-size-default: 40;
$robatatata-dark-display-s-line-height-default: 54;
$robatatata-dark-label-xs-font-family: $font-familybasemedium--sweet-coffee;
$robatatata-dark-label-xs-font-weight: Bold;
$robatatata-dark-label-xs-font-size-default: 18;
$robatatata-dark-label-xs-line-height-default: 24;
$robatatata-dark-label-xs-letter-spacing: 0.10000000149011612;
$robatatata-dark-display-s-extended-font-family: $font-familybasesemibold--sweet-coffee;
$robatatata-dark-display-s-extended-font-weight: Bold;
$robatatata-dark-display-s-extended-font-size-default: 44;
$robatatata-dark-display-s-extended-line-height-default: 44;
$robatatata-dark-body-xs-font-family: $font-familybasemedium--sweet-coffee;
$robatatata-dark-body-xs-font-weight: Regular;
$robatatata-dark-body-xs-font-size-default: 22;
$robatatata-dark-body-xs-line-height-default: 36;
$robatatata-dark-body-xs-letter-spacing: 0.5;
$robatatata-dark-body-xxs-font-family: $font-familybasemedium--sweet-coffee;
$robatatata-dark-body-xxs-font-weight: Regular;
$robatatata-dark-body-xxs-font-size-default: 18;
$robatatata-dark-body-xxs-line-height-default: 28;
$robatatata-dark-body-xxs-letter-spacing: 0.5;
$robatata-light-display-xl-font-family: $font-familybasemedium--sweet-coffee;
$robatata-light-display-xl-font-weight: Medium;
$robatata-light-display-xl-font-size-default: 120;
$robatata-light-display-xl-line-height-default: 160;
$robatata-light-display-l-font-family: $font-familybasemedium--sweet-coffee;
$robatata-light-display-l-font-weight: Medium;
$robatata-light-display-l-font-size-default: 104;
$robatata-light-display-l-line-height-default: 160;
$robatata-light-display-l-brand-font-family: $font-familybrand--sweet-coffee;
$robatata-light-display-l-brand-font-weight: Bold Narrow;
$robatata-light-display-l-brand-font-size-default: 80;
$robatata-light-display-l-brand-line-height-default: 108;
$robatata-light-display-m-brand-font-family: $font-familybrand--sweet-coffee;
$robatata-light-display-m-brand-font-weight: Bold Narrow;
$robatata-light-display-m-brand-font-size-default: 64;
$robatata-light-display-m-brand-line-height-default: 76;
$robatata-light-display-m-font-family: $font-familybasesemibold--sweet-coffee;
$robatata-light-display-m-font-weight: ExtraBold;
$robatata-light-display-m-font-size-default: 56;
$robatata-light-display-m-line-height-default: 76;
$robatata-light-display-s-brand-font-family: $font-familybrand--sweet-coffee;
$robatata-light-display-s-brand-font-weight: Bold Narrow;
$robatata-light-display-s-brand-font-size-default: 48;
$robatata-light-display-s-brand-line-height-default: 54;
$robatata-light-title-xl-font-family: $font-familybasesemibold--sweet-coffee;
$robatata-light-title-xl-font-weight: Regular;
$robatata-light-title-xl-font-size-default: 64;
$robatata-light-title-xl-line-height-default: 90;
$robatata-light-title-xl-letter-spacing: 0.5;
$robatata-light-title-l-font-family: $font-familybasesemibold--sweet-coffee;
$robatata-light-title-l-font-weight: Regular;
$robatata-light-title-l-font-size-default: 48;
$robatata-light-title-l-line-height-default: 56;
$robatata-light-title-l-letter-spacing: 0.5;
$robatata-light-body-l-font-family: $font-familybasemedium--sweet-coffee;
$robatata-light-body-l-font-weight: Regular;
$robatata-light-body-l-font-size-default: 40;
$robatata-light-body-l-line-height-default: 60;
$robatata-light-body-l-letter-spacing: 0.5;
$robatata-light-body-m-font-family: $font-familybasemedium--sweet-coffee;
$robatata-light-body-m-font-weight: Regular;
$robatata-light-body-m-font-size-default: 32;
$robatata-light-body-m-line-height-default: 48;
$robatata-light-body-m-letter-spacing: 0.5;
$robatata-light-body-m-strong-font-family: $font-familybasesemibold--sweet-coffee;
$robatata-light-body-m-strong-font-weight: Bold;
$robatata-light-body-m-strong-font-size-default: 32;
$robatata-light-body-m-strong-line-height-default: 48;
$robatata-light-body-m-strong-letter-spacing: 0.5;
$robatata-light-body-s-font-family: $font-familybasemedium--sweet-coffee;
$robatata-light-body-s-font-weight: Regular;
$robatata-light-body-s-font-size-default: 26;
$robatata-light-body-s-line-height-default: 40;
$robatata-light-body-s-letter-spacing: 0.5;
$robatata-light-label-xl-font-family: $font-familybasemedium--sweet-coffee;
$robatata-light-label-xl-font-weight: Bold;
$robatata-light-label-xl-font-size-default: 40;
$robatata-light-label-xl-line-height-default: 40;
$robatata-light-label-xl-letter-spacing: 0.5;
$robatata-light-label-l-font-family: $font-familybasemedium--sweet-coffee;
$robatata-light-label-l-font-weight: Medium;
$robatata-light-label-l-font-size-default: 32;
$robatata-light-label-l-line-height-default: 32;
$robatata-light-label-l-letter-spacing: 0.5;
$robatata-light-label-m-strong-font-size-default: $font-size325--core;
$robatata-light-label-m-strong-letter-spacing: 0.6000000238418579;
$robatata-light-label-m-font-family: $font-familybasesemibold--sweet-coffee;
$robatata-light-label-m-font-weight: Bold;
$robatata-light-label-m-font-size-default: 26;
$robatata-light-label-m-line-height-default: 32;
$robatata-light-label-m-letter-spacing: 0.10000000149011612;
$robatata-light-label-s-font-family: $font-familybasemedium--sweet-coffee;
$robatata-light-label-s-font-weight: Bold;
$robatata-light-label-s-font-size-default: 22;
$robatata-light-label-s-line-height-default: 30;
$robatata-light-label-s-letter-spacing: 0.5;
$robatata-light-display-s-font-family: $font-familybasesemibold--sweet-coffee;
$robatata-light-display-s-font-weight: Bold;
$robatata-light-display-s-font-size-default: 40;
$robatata-light-display-s-line-height-default: 54;
$robatata-light-label-xs-font-family: $font-familybasemedium--sweet-coffee;
$robatata-light-label-xs-font-weight: Bold;
$robatata-light-label-xs-font-size-default: 18;
$robatata-light-label-xs-line-height-default: 24;
$robatata-light-label-xs-letter-spacing: 0.10000000149011612;
$robatata-light-display-s-extended-font-family: $font-familybasesemibold--sweet-coffee;
$robatata-light-display-s-extended-font-weight: Bold;
$robatata-light-display-s-extended-font-size-default: 44;
$robatata-light-display-s-extended-line-height-default: 44;
$robatata-light-body-xs-font-family: $font-familybasemedium--sweet-coffee;
$robatata-light-body-xs-font-weight: Regular;
$robatata-light-body-xs-font-size-default: 22;
$robatata-light-body-xs-line-height-default: 36;
$robatata-light-body-xs-letter-spacing: 0.5;
$robatata-light-body-xxs-font-family: $font-familybasemedium--sweet-coffee;
$robatata-light-body-xxs-font-weight: Regular;
$robatata-light-body-xxs-font-size-default: 18;
$robatata-light-body-xxs-line-height-default: 28;
$robatata-light-body-xxs-letter-spacing: 0.5;